<div>
    <!-- HEADER START -->
    <div class="row home-foto text-center align-items-center home-filter">
        <div class="col-6 col-md-4 text-md-left ml-5 mr-auto text-primary-color home-container">
            <div class="ml-lg-4 mt-lg-5 px-0 pt-lg-5">
                <div class="mb-3">
                    <p class="mt-0 mb-1">OPEN NOW</p>
                    <div class="divider"></div>
                </div>
                <h1 class="home-header m-0">
                    The glass heritage of Krosno
                </h1>
                <p class="text-light my-3">
                    Thanks to the achievements of modern museology and modern techniques, the Glass Heritage Center not
                    only
                    tells the story of for decades in Poland and the world of Krosno glass but also creates it.
                </p>
                <button type="button" [routerLink]="[ '/ticket-order' ]" class="btn btn-lg btn-primary btn-accent">
                    <i class="far fa-money-bill-alt mr-2"></i>
                    Order tickets
                </button>
            </div>
        </div>
    </div>
    <!-- HEADER END -->

    <!-- MAIN INFO SECTION START -->
    <div class="row pt-4">
        <div class="container-fluid align-items-center">
            <div class="col-10 col-lg-5 text-center mx-auto mt-4 mb-5">
                <p class="text-gray text-mono">
                    Explore the SDC
                </p>
                <h1 class="header mb-4">
                    The famous glass heritage
                </h1>
                <p class="text-gray col-11 mx-auto">
                    In the basement of the entrance door and the temporary exhibition room you can see exhibitions
                    presenting art glass, made both by the best Polish artists and those from abroad.
                </p>
            </div>

            <!-- INFO CARD SECTION START -->
            <div class="row">
                <div class="d-block col-12 col-md-7 align-items-end mx-auto pb-5 info-cards">
                    <div class="p-3 col-12 col-md-6 ">
                        <a href="#">
                            <div class="d-flex">
                                <div>
                                    <h5>Opening hours</h5>
                                    <small>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu gravida
                                        tortor,
                                        a tincidunt est. Aliquam blandit id justo vel ornare. ivamus eu gravida
                                        <a href="#">tortor, a tincidunt.</a>
                                    </small>
                                </div>
                                <i class=" my-auto ml-5 fas fa-caret-right"></i>
                            </div>
                        </a>
                    </div>

                    <div class="p-3 col-12 col-md-6">
                        <a href="#">
                            <div class="d-flex">
                                <div>
                                    <h5>Title 2</h5>
                                    <small>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu gravida
                                        tortor,
                                        a tincidunt est. Aliquam blandit id justo vel ornare. ivamus eu gravida
                                        <a href="#">tortor, a tincidunt.</a>
                                    </small>
                                </div>
                                <i class=" my-auto ml-5 fas fa-caret-right"></i>
                            </div>
                        </a>
                    </div>
                    <div class="p-3 col-12 col-md-6">
                        <a href="#">
                            <div class="d-flex">
                                <div>
                                    <h5>Title 3</h5>
                                    <small>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu gravida
                                        tortor,
                                        a tincidunt est. Aliquam blandit id justo vel ornare. ivamus eu gravida
                                        <a href="#">tortor, a tincidunt.</a>
                                    </small>
                                </div>
                                <i class=" my-auto ml-5 fas fa-caret-right"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- INFO CARD SECTION END -->

        </div>
    </div>
    <!-- MAIN INFO SECTION END -->

    <!-- ARTICLES SECTION START -->
    <div class="container-fluid pt-4 pb-5 bg-gray align-items-center">
        <div class="col-10 col-lg-5 text-center mx-auto mt-4 mb-5">
            <p class="text-gray text-mono">
                The glass news
            </p>
            <h1 class="header mb-4">
                Stay up to date with SDC
            </h1>
            <p class="text-gray col-11 mx-auto">
                At SDC, we try to keep our clients informed about events in the life of the company as well as inform
                about the most interesting industry events.
            </p>
        </div>

        <!-- ARTICLE CARDS START -->
        <div class="card-deck col-12 col-md-10 mx-auto mb-md-3">
            <div class="card custom-card">
                <img src="../../assets/images/glass-rod.jpg" class="card-img-top" alt="glass rod">
                <div class="card-body">
                    <div>
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text text">This is a longer card with supporting text below as a natural lead-in
                            to additional content. This content is a little bit longer.</p>
                    </div>
                    <small><a href="#">Read more</a></small>
                </div>
            </div>
            <div class="card custom-card">
                <img src="../../assets/images/art-glass-ball.jpg" class="card-img-top" alt="glass artitstic ball">
                <div class="card-body">
                    <div>
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional
                            content.
                        </p>
                    </div>
                    <small><a href="#">Read more</a></small>
                </div>
            </div>
            <div class="card custom-card">
                <img src="../../assets/images/artistic-glass-broken.jpg" class="card-img-top"
                    alt="artistic glass broken">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show that equal height
                        action. This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show that equal height.
                    </p>
                    <small><a href="#">Read more</a></small>
                </div>
            </div>
        </div>
        <!-- ARTICLE CARD END -->

    </div>
    <!-- ARTICLES SECTION END -->

    <!-- DISCOUNTS INFO SECTION START -->
    <div class="container-fluid pb-4">
        <div class="container col-12 col-md-10 mx-auto mb-md-5">
            <div class="ml-lg-4 my-4">
                <h1 class="header my-5 pl-3 pl-lg-0">
                    Everybody <i class="fas fa-heart"></i> discounts
                </h1>
                <div class="row discounts-info">
                    <div class="col-12 col-lg-4 pl-3 pl-lg-0 pr-lg-3">
                        <img src="../../assets/images/old-man.png">
                        <h3>
                            For seniors
                        </h3>
                        <p class="text-gray">
                            Seniors often do not sit at home at all, instead, they travel, sightseeing, get konw new
                            places and people ao for such people the SDC team has prepared discounts for sightseeing the
                            cellars and the Centrum Dziedzictwa Szkla.
                        </p>
                    </div>
                    <div class="col-12 col-lg-4 px-lg-3 ">
                        <img src="../../assets/images/student.png">
                        <h3>
                            For children
                        </h3>
                        <p class="text-gray">
                            Every child who visits the SDC gets a lot of knowledge about the glass heritage from these
                            visits. These children may be the next artists who will present their exhibitions in the SDC
                            in
                            the future. Therefore, one of the major discounts at SDC applies to children
                        </p>
                    </div>
                    <div class="col-12 col-lg-4 pl-lg-3 pr-0">
                        <img src="../../assets/images/group.png">
                        <h3>
                            For groups
                        </h3>
                        <p class="text-gray">
                            Why not go sightseeing with friends, family or partner? Or maybe organize a school trip? No
                            matter who you go with, there are always discounts on tickets for organized groups.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 mx-auto pb-5">
            <div class="tiny-divider bg-gray mx-auto"></div>

            <div class="col-7 mx-auto text-center">
                <h4>Something for everyone</h4>
                <small class="text-muted">
                    Discounts available in SDC are tailored to our customers. No matter how old you are, whether you
                    want to explore alone or in a group, with us you will always find something just right for you.
                </small>
            </div>
        </div>
    </div>
    <!-- DISCOUNTS INFO SECTION END -->

    <!-- PARTNERS SECTION START -->
    <div class="col-10 col-lg-5 text-center mx-auto mt-4 mb-5">
        <p class="text-gray text-mono">
            Partnerships
        </p>
        <h1 class="header mb-4">
            Become our partner
        </h1>
        <p class="text-gray col-11 mx-auto mt-4">
            Partnership with SDC brings many benefits. From the opportunity to show the world your artistic talents, by
            gaining influences and long-lasting friendships, and ending with earning opportunities.
        </p>

        <button type="button" [routerLink]="[ '/partners' ]" class="my-3 btn btn-lg btn-accent-outline btn-link">Become a SDC partner
            <i class="fas fa-long-arrow-alt-right ml-2"></i>
        </button>

        <div class="container col-12 col-md-10 mx-auto align-items-center my-5 pb-1">
            <div class="d-flex justify-content-center partners-banner">
                <img src="../../assets/images/atom.png" alt="atom logo">
                <img src="../../assets/images/circleci.png" style="position: relative; top: 50%" alt="circleci logo">
                <img src="../../assets/images/codeclimate.png" alt="codeclimate logo">
                <img src="../../assets/images/ac-dc.png" style="position: relative; top: 50%" alt="ac dc logo">
                <img src="../../assets/images/travis-ci.png" alt="travis-ci logo">
                <img src="../../assets/images/zenhubio.png" style="position: relative; top: 50%" alt="zenhubio logo">
                <img src="../../assets/images/google.png" alt="google logo">
            </div>
        </div>
        <small class="text-gray partners-banner-text">*On August 2019</small>
    </div>
    <!-- PARTNERS SECTION END -->

</div>