<div class="row mx-0 px-0">
    <div class="col-12 col-md-8 mx-auto d-flex mb-md-5">
        <div class="col-12 col-sm-5 text-center text-md-left">
            <a href="#home" role="button">SDC</a>
        </div>
        <div class="col-12 col-md-7">
            <div class="col-6 col-md-4 d-inline-block justify-content-center">
                <p class="text-mono text-gray">Company</p>
                <p><a href="" class="text-gray">About us</a></p>
                <p><a href="" class="text-gray">Careers</a></p>
                <p><a href="" class="text-gray">History</a></p>
                <p><a href="" class="text-gray">Shop</a></p>
            </div>
            <div class="col-6 col-md-4 d-inline-block justify-content-center">
                <p class="text-mono text-gray">Company</p>
                <p><a href="" class="text-gray">About us</a></p>
                <p><a href="" class="text-gray">Careers</a></p>
                <p><a href="" class="text-gray">History</a></p>
                <p><a href="" class="text-gray">Shop</a></p>
            </div>
            <div class="col-6 col-md-4 d-inline-block justify-content-center">
                <p class="text-mono text-gray">Company</p>
                <p><a href="" class="text-gray">About us</a></p>
                <p><a href="" class="text-gray">Careers</a></p>
                <p><a href="" class="text-gray">History</a></p>
                <p><a href="" class="text-gray">Shop</a></p>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="background-color: #fafbfc">
        <div class="col-12 col-md-8 mx-auto py-2 py-md-3 d-flex">
            <!-- stopka z prawami i social media -->
            <div class="d-flex my-0 mr-auto align-items-center">
                <p class="text-gray p-footer">&copy; 2019 SDC Krosno</p>
                <p class="p-footer"> <a href="" class="text-gray">Terms</a> </p>
                <p class="p-footer"> <a href="" class="text-gray">Privacy</a> </p>
            </div>
            <div class="d-flex">
                <p class="p-footer text-gray">social media</p>
            </div>
        </div>
    </div>
</div>