<div class="container-12 px-0 justify-md-content-center mx-0">
    <div class="row mx-0 align-content-md-center bg-home bg-home-shadow">

        <!-- Header, short description about SDC, buy tickets button, learn more about SDC button, open now indicator -->
        <div class="col-md-4 text-md-left text-custom-light ml-md-5">
            <div class="mb-md-2">
                <h5 class="text-uppercase my-2">
                    open now
                </h5>
                <div class="rectangle"></div>
            </div>
            <p class="main-header mb-md-2">
                Glass heritage of Krosno
            </p>
            <p class="lead">
                Thanks to the achievements of modern museology and modern techniques, the Glass Heritage Center not
                only tells the story of for decades in Poland and the world of Krosno glass, but also creates it.
            </p>
            <button class="btn btn-outline-sdc mr-md-3">Learn more</button>
        </div>
    </div>

    <div class="row mx-0 justify-content-md-center align-content-md-center">
        <!-- Shows etc. -->
        <div class="col-md-6 mx-auto text-md-center py-md-5">
            <div class="col-9 col-lg-10 mx-md-5 px-md-5">
                <h2>
                    Visit us and see the breathtaking shows
                </h2>
                <p class="text-gray">
                    The most important attractions of the Center are interactive shows of glass production and
                    decoration,
                    in which tourists can take an active part.
                </p>
                <button class="btn btn-sdc">Buy tickets</button>
            </div>
        </div>
    </div>

    <div class="row mx-0 justify-content-md-center align-content-md-center">
        <!-- Exhibitions -->
        <div class="col-md-6 mx-auto text-md-center py-md-5">
            <div class="col-9 col-lg-10 mx-md-5 px-md-5">
                <p class="text-mono text-gray">
                    Exhibitions in SDC
                </p>
                <h1>
                    Visit exhibitions of the greatest artists
                </h1>
                <h3 class="lead text-gray bold">
                    In the basement of the pre-door and in the room of temporary exhibitions, however, you can get
                    acquainted with exhibitions presenting both artistic glass, made by the best Polish artists.
                </h3>
                <button class="btn btn-lg btn-outline-sdc-blue mt-2">See latest exhibition</button>
            </div>
        </div>
        <div class="col-md-8 d-md-flex align-content-center">
            <div class="col-md-6 align-self-center">
                <!-- image -->
                <img src="../../assets/images/unicorn-figure.jpg" class="img-fluid" alt="glass-unicorn">
            </div>
            <div class="col-md-6">
                <!-- cards -->
                <div class="card shadow-fade text-left mx-2 my-3">
                    <div class="card-body">
                        <h5 class="card-title">Glass tour</h5>
                        <p class="card-text text-gray">
                            GlassTour, a traveling glassworks, is a project thanks to which metallurgical shows can
                            visit anywhere in Poland! The small metallurgical furnace allows for the organization of
                            outdoor shows, during which viewers will not only see how glass is formed, but will have the
                            opportunity to try the art of blowing it out themselves.
                        </p>
                    </div>
                </div>
                <div class="card shadow-fade text-left mx-2 my-3">
                    <div class="card-body">
                        <h5 class="card-title">Card title 2</h5>
                        <p class="card-text text-gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                            nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque
                            aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec
                            venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui
                            id orci.
                        </p>
                    </div>
                </div>
                <div class="card shadow-fade text-left mx-2 my-3">
                    <div class="card-body">
                        <h5 class="card-title">Card title 3</h5>
                        <p class="card-text text-gray">Nam congue, pede vitae dapibus aliquet, elit magna vulputate
                            arcu, vel tempus metus
                            leo non est. Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget
                            neque. Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et
                            mollis pede metus eget nisi. Praesent sodales velit quis augue. Cras suscipit, urna at
                            aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-md-center align-content-md-center">
        <!-- Shop etc. -->
    </div>
    <div class="row justify-content-md-center align-content-md-center">
        <!-- fotogallery -->
    </div>

    <div class="row justify-content-md-center align-content-md-center mx-0">
        <div class="col-md-6 mx-auto text-md-center py-md-5">
            <h3 class="text-gray lead bold">
                Our partners in region and around the glob
            </h3>
            <ul class="d-flex flex-wrap list-unstyled text-center grayscale">
                <li>
                    <img src="../../assets/images/karpacka-troja.png" alt="karpacka-troja-logo" class="img-fluid">
                </li>
                <li>
                        <img src="../../assets/images/muzeum-rzemiosla.png" alt="muzeum-rzemiosla-logo" class="img-fluid">
                    </li>
            </ul>
        </div>
    </div>
</div>