.bg-home
{
    background-image: url("../../assets/images/glass-rod.jpg");
    background-position: center;
    background-size: cover;
    height: 665px;
    width: 100%;
    margin: 0px;
}

.card{
    border-color: transparent;
    transition: 0.3s;   
    box-shadow: none;
    
    &:hover{
        transition: 0.3s;
        border-color: rgba(68, 67, 67, .2);
        box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
    }
}

ul>li>img{
    width: 120px;
    height: 120px;
}