.home {
    &-foto {  
        background-image: url(../../assets/images/museum-interior.png); 
        width: 100%;
        height: 93vh;
        background-size: cover;
        background-position-x: center;
        background-position-y: 93%;
        background-repeat: no-repeat;
        -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,0.35);
        -moz-box-shadow: 0 5px 15px 0 rgba(0,0,0,0.35);
        box-shadow: 0 5px 15px 0 rgba(0,0,0,0.35);
    }

    &-header{
        font-size: 3em;
        font-weight: 600;
    }  
       
    &-container{
        z-index: 2;
    }
}

.fa-heart{
    color: rgb(222, 0, 45)
}

.discounts-info{
    img{
        width: 60px;
        margin-bottom: 15px;
    }
}

.card-body{
    small{
        margin-top: 20px;
    }
}

#join-info {
    display: none;
    opacity: 0;
    transition: all .3s ease-out;    
}

#visit-info {
    display: none;
    opacity: 0;
    transition: all .3s ease-out;
}

#opening-hours-info {
    display: none;
    opacity: 0;
    transition: all .3s ease-out;
}

#join-card:hover ~ #info #join-info {
    display: inline;
    opacity: 1;
    transition: opacity .3s ease-in;    
}

#opening-hours-card:hover ~ #info #opening-hours-info {
    display: inline;
    opacity: 1;
    transition: opacity .3s ease-in;   
}

#visit-card:hover ~ #info #visit-info {
    display: inline;
    opacity: 1;  
    transition: opacity .3s ease-in;    
}


@media screen and (min-width: 992px) and (max-width: 1750px) {
    .responsive-container {
        position: absolute; 
        right: 0; 
        top: 23%;
    }
}

@media screen and (min-width: 1751px) {
    .responsive-container {
        position: absolute; 
        right: 0; 
        top: 6%;
    }
}

.far {
    position: relative;
    top: 4px;
}

.responsive-img {
    max-width: 600px;
    max-height: 600px;
    width: 100%;
    height: auto;
}