<div>
    <!-- HEADER START -->
    <div class="row home-foto text-center align-items-center home-filter">
        <div class="col-11 col-md-8 col-xl-4 text-lg-left mx-auto ml-lg-5 mr-lg-auto text-primary-color home-container">
            <div class="ml-lg-4 mt-xl-5 px-0 pt-3 pt-xl-5">
                <div class="mb-3 d-none d-lg-block">
                    <ng-container *ngIf="isOpenNow | async; else elseTemplate">
                        <p class="mt-0 mb-1">OPEN NOW</p>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <p class="mt-0 mb-1">CLOSE NOW</p>
                    </ng-template>
                    <div class="divider"></div>
                </div>
                <h1 class="home-header m-0">
                    The glass heritage of Fakecity
                </h1>
                <p class="text-light my-3">
                    Thanks to the achievements of modern museology and modern techniques, the Glass Heritage Center not
                    only
                    tells the story of for decades in Poland and the world of Fakecity glass but also creates it.
                </p>
                <button type="button" [routerLink]="[ '/pricing' ]" class="btn btn-lg btn-primary btn-accent d-none d-md-flex mx-auto m-lg-0 mr-lg-auto mt-3 mt-lg-1">
                    <i class="far fa-money-bill-alt mr-2"></i>
                    Order tickets
                </button>
            </div>
        </div>
    </div>
    <!-- HEADER END -->

    <!-- MAIN INFO SECTION START -->
    <div class="row pt-4 mb-3">
        <div class="container-fluid align-items-center">
            <div class="col-12 col-lg-5 text-center mx-auto mt-4 mb-md-5">
                <p class="text-gray text-mono">
                    Explore the SDC
                </p>
                <h1 class="header mb-4">
                    The famous glass heritage
                </h1>
                <p class="text-gray col-11 mx-auto">
                    In the basement of the entrance door and the temporary exhibition room you can see exhibitions
                    presenting art glass, made both by the best Polish artists and those from abroad.
                </p>
            </div>

            <!-- INFO CARD SECTION START -->
            <div class="row mb-5">
                <div class="col-12 col-md-10 col-xl-8 mx-auto mt-5 align-items-center text-center text-md-left">
                    <div class="p-4 col-12 col-lg-6 custom-bordered-card" id="visit-card">
                        <a [routerLink]="[ '/visit-sdc' ]">
                            <div class="d-flex">
                                <div>
                                    <h5>Museum visits </h5>
                                    <small>
                                        If you are wondering how the glass is produced, what is the history of
                                        glassmaking and who first came up with the idea of melting sand until it becomes a transparent surface,
                                        visit SDC.
                                    </small>
                                </div>
                                <i class="my-auto ml-auto fas fa-caret-right d-none d-md-block"></i>
                            </div>
                        </a>
                    </div>

                    <div class="p-4 col-12 col-lg-6 custom-bordered-card" id="opening-hours-card">
                        <a href="/">
                            <div class="d-flex">
                                <div>
                                    <h5>Opening hours</h5>
                                    <small>
                                        At SDC, we make sure that everyone can visit and see our exhibitions and shows at their convenience.
                                        That is why we have selected opening hours so that they can serve everyone.
                                    </small>
                                </div>
                                <i class=" my-auto ml-5 fas fa-caret-right d-none d-md-block"></i>
                            </div>
                        </a>
                    </div>

                    <div class="p-4 col-12 col-lg-6 custom-bordered-card" id="join-card">
                        <a [routerLink]="[ '/partners' ]">
                            <div class="d-flex">
                                <div>
                                    <h5>Work in the SDC</h5>
                                    <small>
                                        Have you ever wondered what it's like to work in a museum, give tours,
                                        participate and tell visitors about shows? If so, now you can make your
                                        dreams come true by joining the SDC.
                                    </small>
                                </div>
                                <i class=" my-auto ml-5 fas fa-caret-right d-none d-md-block"></i>
                            </div>
                        </a>
                    </div>

                    <div id="info" style="position: absolute; right: 0; top: 50px;">
                        <div class="d-table">

                            <div id="visit-info">
                                <div class="visit-img shadow-lg"></div>
                            </div>

                            <div id="opening-hours-info" style="position: relative; right: 80px;">
                                <table class="table table-bordered text-center">
                                    <thead>
                                        <tr>
                                            <th scope="col">Day of week</th>
                                            <th scope="col">Opening hour</th>
                                            <th scope="col">Closing hour</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let hour of (recentVisitInfo | async)?.openingHours">
                                            <td class="text-left">{{ hour.dayOfWeek }}</td>
                                            <td>{{ hour.openingHour | slice:0:5 }}</td>
                                            <td>{{ hour.closingHour | slice:0:5 }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div id="join-info">
                                <div class="join-img shadow-lg"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- INFO CARD SECTION END -->
    </div>
    <!-- MAIN INFO SECTION END -->

    <div class="card-deck col-12 col-lg-9 mx-auto">
        <div class="col-12 col-sm-6 col-lg-4 text-wrap mx-auto mb-5" *ngFor="let article of topThreeArticles | async; let i=index">
            <div class="card custom-card visit-card-img">
                <div class="card-body p-0">
                    <img src="../../assets/images/glass-rod.jpg" class="card-img-top" alt="artistic broken glass">
                    <div class="m-3">
                        <div>
                            <h5 class="card-title">{{ article.title }}</h5>
                            <p class="card-text text">{{ article.text | slice:0:270 }}...</p>
                        </div>
                        <div class="row mt-3">
                            <a [routerLink]="[ '/news', article.title ]"><small>Read more</small></a>
                            <small class="text-muted my-0 ml-auto">{{ article.createdAt | date: 'dd LLLL yyyy, H:mm' }}</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-100 d-xs-block d-sm-none"></div>
            <div *ngIf="(i + 1) % 2 === 0" class="w-100 d-none d-sm-block d-md-none"></div>

        </div>
    </div>

    <!-- ARTICLES SECTION START -->
    <div class="container-fluid pt-4 pb-5 bg-gray align-items-center">
        <div class="col-12 col-lg-5 text-center mx-auto mt-4 mb-5">
            <p class="text-gray text-mono">
                The glass news
            </p>
            <h1 class="header mb-4">
                Stay up to date with SDC
            </h1>
            <p class="text-gray col-11 mx-auto">
                At SDC, we try to keep our clients informed about events in the life of the company as well as inform
                about the most interesting industry events.
            </p>
        </div>

        <!-- ARTICLE CARDS START -->
        <div class="card-deck col-12 col-xl-10 mx-auto mb-md-3">
            <div class="card custom-card mr-0" *ngFor="let article of topThreeArticles | async">
                <img src="../../assets/images/glass-rod.jpg" class="card-img-top" alt="glass rod">
                <div class="card-body">
                    <div>
                        <h5 class="card-title">{{ article.title }}</h5>
                        <p class="card-text text">{{ article.text | slice:0:270 }}...</p>
                    </div>
                    <div class="row mt-3">
                        <a [routerLink]="[ '/news', article.title ]"><small>Read more</small></a>
                        <small class="text-muted my-0 ml-auto">{{ article.createdAt | date: 'dd LLLL yyyy, H:mm' }}</small>
                    </div>
                </div>

            </div>
        </div>
        <!-- ARTICLE CARD END -->

    </div>
    <!-- ARTICLES SECTION END -->

    <!-- DISCOUNTS INFO SECTION START -->
    <div class="container-fluid py-4">
        <div class="container col-11 col-lg-10 mx-auto mb-md-5 text-center text-md-left">
            <div class="ml-md-4 my-4">
                <h1 class="header my-5">
                    Everybody <i class="fas fa-heart"></i> discounts
                </h1>
                <div class="row discounts-info">
                    <div class="col-lg-4 pl-3 pl-md-0 pr-lg-3 mb-3 mb-lg-0">
                        <img src="../../assets/images/old-man.png">
                        <h3>
                            For seniors
                        </h3>
                        <p class="text-gray">
                            Seniors often do not sit at home at all, instead, they travel, sightseeing, get konw new
                            places and people ao for such people the SDC team has prepared discounts for sightseeing the
                            cellars and the Centrum Dziedzictwa Szkla.
                        </p>
                    </div>
                    <div class="col-lg-4 px-lg-3 px-0">
                        <img src="../../assets/images/student.png">
                        <h3>
                            For children
                        </h3>
                        <p class="text-gray">
                            Every child who visits the SDC gets a lot of knowledge about the glass heritage from these
                            visits. These children may be the next artists who will present their exhibitions in the SDC
                            in
                            the future. Therefore, one of the major discounts at SDC applies to children
                        </p>
                    </div>
                    <div class="col-lg-4 pl-0 pl-lg-3 pr-3 pr-lg-0">
                        <img src="../../assets/images/group.png">
                        <h3>
                            For groups
                        </h3>
                        <p class="text-gray">
                            Why not go sightseeing with friends, family or partner? Or maybe organize a school trip? No
                            matter who you go with, there are always discounts on tickets for organized groups.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-6 mx-auto pb-5">
            <div class="tiny-divider bg-gray mx-auto"></div>

            <div class="col-11 col-md-9 col-lg-7 mx-auto text-center">
                <h4>Something for everyone</h4>
                <small class="text-muted">
                    Discounts available in SDC are tailored to our customers. No matter how old you are, whether you
                    want to explore alone or in a group, with us you will always find something just right for you.
                </small>
            </div>
        </div>
    </div>
    <!-- DISCOUNTS INFO SECTION END -->

    <!-- PARTNERS SECTION START -->
    <div class="col-12 col-lg-5 text-center mx-auto mt-4 mb-5">
        <p class="text-gray text-mono">
            Partnerships
        </p>
        <h1 class="header mb-4">
            Become our partner
        </h1>
        <p class="text-gray col-11 mx-auto mt-4">
            Partnership with SDC brings many benefits. From the opportunity to show the world your artistic talents, by
            gaining influences and long-lasting friendships, and ending with earning opportunities.
        </p>

        <button type="button" [routerLink]="[ '/partners' ]" class="my-3 btn btn-lg btn-accent-outline btn-link">Become a SDC partner
            <i class="fas fa-long-arrow-alt-right ml-2"></i>
        </button>

        <div class="container col-12 col-md-10 mx-auto align-items-center my-5 pb-1">
            <div class="d-none d-md-flex justify-content-center partners-banner">
                <img src="../../assets/images/atom.png" alt="atom logo" placement="top" ngbTooltip="Atom" tooltipClass="custom-tooltip">
                <img src="../../assets/images/circleci.png" style="position: relative; top: 50%" alt="circleci logo" placement="top" ngbTooltip="Circle CI" tooltipClass="custom-tooltip">
                <img src="../../assets/images/codeclimate.png" alt="codeclimate logo" placement="top" ngbTooltip="Code Climate" tooltipClass="custom-tooltip">
                <img src="../../assets/images/ac-dc.png" style="position: relative; top: 50%" alt="ac/dc logo" placement="top" ngbTooltip="AC/DC" tooltipClass="custom-tooltip">
                <img src="../../assets/images/travis-ci.png" alt="travis-ci logo" placement="top" ngbTooltip="Travis CI" tooltipClass="custom-tooltip">
                <img src="../../assets/images/zenhubio.png" style="position: relative; top: 50%" alt="zenhubio logo" placement="top" ngbTooltip="Zenhubio" tooltipClass="custom-tooltip">
                <img src="../../assets/images/google.png" alt="google logo" placement="top" ngbTooltip="Google" tooltipClass="custom-tooltip">

                <!-- wrap every 2 on md and lg-->
                <!-- <div *ngIf="(i + 1) % 2 === 0" class="w-100 d-none d-md-block d-xl-none"></div> -->
                <!-- <div class="w-100 d-none d-sm-block d-lg-none"></div> -->

            </div>
        </div>
        <small class="text-gray partners-banner-text">*On {{ now | date: 'MMMM yyyy' }}</small>
    </div>
    <!-- PARTNERS SECTION END -->

</div>