<div>
    <div class="card">
        <div class="card-header d-flex align-text-bottom">
            <i class="fas fa-shopping-cart mr-3"></i>
            <h5>Tickets summary</h5>
        </div>

        <div class="card-body">
            <div class="ticket-info">
                <div class="d-flex">
                    <div>
                        <div class="d-flex">
                            <h6 class="card-title m-0">1x Piwnice Przedprożne</h6>
                            <h6 class="ml-2 my-0" style="color: green;">-20%</h6>
                        </div>
                        <small class="text-gray pr-5">Sightseeing only Piwnice Przedprożne.</small>
                    </div>
                    <h6 class="ml-3 ml-sm-auto">20PLN</h6>
                </div>
                <div class="dropdown-divider"></div>
            </div>

            <div>
                <div class="d-flex">
                    <div>
                        <div class="d-flex">
                            <h6 class="card-title m-0">2x Centrum Dziedzictwa Szkła</h6>
                            <h6 class="ml-2 my-0" style="color: green;">-25%</h6>
                        </div>
                        <small class="text-gray pr-5">Sightseeing only Centrum Dziedzictwa Szkła.</small>
                    </div>
                    <h6 class="ml-3 ml-md-auto">32PLN</h6>
                </div>
                <div class="dropdown-divider"></div>
            </div>
        </div>

        <div class="card-footer text-right">
            <h6>Sub total: 52PLN</h6>
        </div>
    </div>
</div>