<nav class="p-0 px-lg-5 shadow-sm navbar navbar-expand-lg navbar-light shadow-sm bg-light">
    <button class="navbar-toggler ml-auto m-2" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>   

    <!-- NAV MENU START -->
    <div class="collapse navbar-collapse border-top" id="navbarNav">
        <ul class="navbar-nav text-center bg-light mr-auto">
            <li class="nav-item mx-0 mr-lg-3 mr-xl-5 pl-lg-3">
                <a class="nav-link" [routerLink]="[ '/' ]">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/visit-sdc' ]">VISIT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-lg-3 mx-xl-5" [routerLink]="[ '/news' ]">DISCOVER</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/partners' ]">JOIN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-lg-3 mx-xl-5" [routerLink]="[ '/pricing' ]">TICKETS</a>
            </li>
            <li *ngIf="isLogged | async" class="nav-item mr-lg-auto">

                <ng-container *ngIf="authService.userRole === 'administrator'; else elseTemplate">
                    <a class="nav-link" [routerLink]="[ '/admin/dashboard' ]">ADMIN PANEL</a>
                </ng-container>
                <ng-template #elseTemplate>
                    <a *ngIf="authService.userRole === 'moderator'" class="nav-link" [routerLink]="[ '/mod/dashboard' ]">MODERATOR PANEL</a>
                </ng-template>

            </li>
        </ul>

        <div class="pr-0 pr-lg-4 d-lg-flex align-items-center text-center">

            <!-- OPENING HOUR INFO -->
            <div class="d-none d-lg-block">

                <p *ngIf="(closingHour | async ) !== undefined && (openingHour | async ) !== undefined; else closeInfo" class="m-0 text-open-hours mr-lg-4 mr-xl-5">OPEN TODAY
                    {{ openingHour | async  | slice:0:5 }}-{{ closingHour | async | slice:0:5 }}</p>
                <ng-template #closeInfo>
                    <p class="m-0 text-open-hours mr-lg-4 mr-xl-5" href="#">CLOSE TODAY</p>
                </ng-template>
            </div>

            <!-- LOGIN/LOGOUT BUTTON -->
            <ng-container *ngIf="!(isLogged | async); else logoutTemplate" class="d-flex">
                <button type="button" class="my-3 btn btn-accent-outline-tight mx-auto" [routerLink]="[ '/login' ]">Login</button>
            </ng-container>

            <ng-template #logoutTemplate>
                <button type="button" class="my-3 btn btn-accent-outline-tight mx-auto" [routerLink]="[ '/' ]" (click)="logout()">Logout</button>
            </ng-template>
        </div>
    </div>
    <!-- NAV MENU END -->
</nav>