<nav class="px-lg-5 navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav text-center mr-auto">
            <li class="nav-item mx-0 mr-lg-3 mr-xl-5 pl-lg-3">
                <a class="nav-link" [routerLink]="[ '/' ]">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/visit-sdc' ]">VISIT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-lg-3 mx-xl-5" [routerLink]="[ '/news' ]">DISCOVER</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/partners' ]">JOIN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-lg-3 mx-xl-5" [routerLink]="[ '/pricing' ]">TICKETS</a>
            </li>
            <li *ngIf="isUserLogged | async" class="nav-item mr-lg-auto">
                <a class="nav-link" hidden="true" [routerLink]="[ '/' ]">ADMIN PANEL</a>
            </li>            
        </ul>
        <div class="pr-4 d-none d-lg-flex align-items-center">
            <p *ngIf="(closingHour |async ) !== undefined && (openingHour | async ) !== undefined; else closeInfo" class="m-0 text-open-hours mr-lg-4 mr-xl-5" href="#">OPEN TODAY 10:00-18:00</p>
            <ng-template #closeInfo>
                <p class="m-0 text-open-hours mr-lg-4 mr-xl-5" href="#">CLOSE TODAY</p>
            </ng-template>
            <button *ngIf="!(isUserLogged | async)" type="button" class="my-3 btn btn-accent-outline btn-login" [routerLink]="[ '/login' ]">Login</button>
        </div>
    </div>
</nav>