<div class="container-fluid pt-4 pb-5 align-items-center">

    <div class="col-12 col-lg-5 text-center mx-auto mt-4 mb-5">
        <p class="text-gray text-mono">
            Our articles
        </p>
        <h1 class="header mb-4">
            Discover the glass world
        </h1>
        <p class="text-gray col-11 mx-auto">
            Thanks to the constantly updated database of articles, you'll always be up to date with news from the
            world of glass. You won't miss any promotions, and the curiosities you can learn from us are simply
            countless.
        </p>
    </div>

    <!-- ARTICLE CARDS START -->
    <div class="card-deck col-12 col-lg-8 mx-auto mb-md-3">

        <div class="card custom-card" *ngFor="let article of articles | async; let i = index">
            <img src="../../assets/images/glass-rod.jpg" class="card-img-top" alt="glass rod">
            <div class="card-body">
                <div>
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p class="card-text text">{{ article.text | slice:0:280 }}.</p>
                </div>
                <div class="row mt-4">
                    <a [routerLink]="[ '/news', article.title ]"><small>Read more</small></a>
                    <small class="text-muted ml-auto">{{ article.createdAt | date: 'dd LLLL yyyy, H:mm' }}</small>
                </div>
            </div>

            <!-- wrap every 1 on sm -->
            <div class="w-100 d-none d-sm-block d-md-none"></div>
    
            <!-- wrap every 2 on md and lg-->
            <div *ngIf="(i + 1) % 2 === 0" class="w-100 d-none d-md-block"></div>

        </div>

    </div>
    <!-- </div> -->
    <!-- ARTICLE CARD END -->

</div>