<div class="container-fluid pt-4 pb-5 align-items-center">

    <div class="col-12 col-lg-9 col-xl-5 text-center mx-auto mt-4 mb-5">
        <p class="text-gray text-mono">
            Our articles
        </p>
        <h1 class="header mb-4">
            Discover the glass world
        </h1>
        <p class="text-gray col-11 mx-auto">
            Thanks to the constantly updated database of articles, you'll always be up to date with news from the
            world of glass. You won't miss any promotions, and the curiosities you can learn from us are simply
            countless.
        </p>
    </div>

    <!-- ARTICLE CARDS START -->
    <div class="d-flex col-12 col-lg-10 flex-wrap justify-content-start mx-auto">
        <div class="col-12 col-md-6 col-xl-4 mb-4" *ngFor="let article of articles | async">
            <div class="custom-card m-0 h-100">
                <div class="card-body h-100 p-0">
                    <img src="../../assets/images/glass-rod.jpg" class="card-img-top" alt="glass rod">
                    <div class="m-3">

                        <div>
                            <h5 class="card-title">{{ article.title }}</h5>
                            <p class="card-text text">{{ article.text | slice:0:270 }}...</p>
                        </div>
                        <div class="d-flex mt-3">
                                <small> <a [routerLink]="[ '/news', article.title ]">Read more</a></small>
                            <small class="text-muted my-0 ml-auto">{{ article.createdAt | date: 'dd LLLL yyyy, H:mm' }}</small>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- ARTICLE CARD END -->

</div>