<div class="container-fluid pt-4 pb-5 bg-gray align-items-center">

    <div class="col-10 col-lg-5 text-center mx-auto mt-4 mb-5">
        <p class="text-gray text-mono">
            Our articles
        </p>
        <h1 class="header mb-4">
            Discover the glass world
        </h1>
        <p class="text-gray col-11 mx-auto">
            Thanks to the constantly updated database of articles, you'll always be up to date with news from the
            world of glass. You won't miss any promotions, and the curiosities you can learn from us are simply
            countless.
        </p>
    </div>

    <!-- ARTICLE CARDS START -->
    <div class="card-deck col-12 col-lg-8 mx-auto mb-md-3">
        <div class="card custom-card">
            <img src="../../assets/images/glass-rod.jpg" class="card-img-top" alt="glass rod">
            <div class="card-body">
                <div>
                    <h5 class="card-title">The first exhibtion opening</h5>
                    <p class="card-text text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer. This is a longer card with supporting
                        text below as a natural lead-in to additional content. This content is a little bit...</p>
                </div>
                <div class="row mt-4">
                    <small><a href="#">Read more</a></small>
                    <small class="text-muted ml-auto">Last updated at 12.12.2018</small>
                </div>
            </div>
        </div>

        <div class="w-100 d-none d-md-block d-lg-none card-deck-divider">
            <!-- wrap evrey 1 on md -->
        </div>

        <div class="card custom-card">
            <img src="../../assets/images/artistic-glass-broken.jpg" class="card-img-top" alt="artistic glass broken">
            <div class="card-body">
                <div>
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text text">This is a longer card with supporting text below as a natural lead-in
                        to additional content. This content is a little bit longer.</p>
                </div>
                <small><a href="#">Read more</a></small>
            </div>
        </div>

        <div class="w-100 d-none d-md-block d-lg-none card-deck-divider">
            <!-- wrap evrey 1 on md -->
        </div>

        <div class="card custom-card">
            <img src="../../assets/images/art-glass-ball.jpg" class="card-img-top" alt="glass artitstic ball">
            <div class="card-body">
                <div>
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional
                        content.
                    </p>
                </div>
                <small><a href="#">Read more</a></small>
            </div>
        </div>

        <div class="w-100 d-none d-md-block d-lg-none card-deck-divider">
            <!-- wrap evrey 1 on md -->
        </div>
        <div class="w-100 d-none d-xl-block card-deck-divider">
            <!-- wrap evrey 3 on xl -->
        </div>

        <div class="card custom-card">
            <img src="../../assets/images/glass-rod.jpg" class="card-img-top" alt="glass rod">
            <div class="card-body">
                <div>
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text text">This is a longer card with supporting text below as a natural lead-in
                        to additional content. This content is a little bit longer.</p>
                </div>
                <div class="row mt-4">
                    <small><a href="#">Read more</a></small>
                    <small class="text-muted ml-auto">Last updated at 12.12.2018</small>
                </div>
            </div>
        </div>

        <div class="w-100 d-none d-md-block d-lg-none card-deck-divider">
            <!-- wrap evrey 1 on md -->
        </div>

        <div class="card custom-card">
            <img src="../../assets/images/artistic-glass-broken.jpg" class="card-img-top" alt="artistic glass broken">
            <div class="card-body">
                <div>
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text text">This is a longer card with supporting text below as a natural lead-in
                        to additional content. This content is a little bit longer.</p>
                </div>
                <small><a href="#">Read more</a></small>
            </div>
        </div>

        <div class="w-100 d-none d-md-block d-lg-none card-deck-divider">
            <!-- wrap evrey 1 on md -->
        </div>

        <div class="card custom-card">
            <img src="../../assets/images/art-glass-ball.jpg" class="card-img-top" alt="glass artitstic ball">
            <div class="card-body">
                <div>
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional
                        content.
                    </p>
                </div>
                <small><a href="#">Read more</a></small>
            </div>
        </div>

    </div>
    <!-- ARTICLE CARD END -->

</div>