<div class="calendar-container">
    <div class="calendar-header">
      <h1>
         November
        <button>▾</button>
      </h1>
      <p>2018</p>
    </div>
    <div class="calendar"><span class="day-name">Mon</span><span class="day-name">Tue</span><span class="day-name">Wed</span><span class="day-name">Thu</span><span class="day-name">Fri</span><span class="day-name">Sat</span><span class="day-name">Sun</span>
      <button class="day day--disabled" role="button">30</button>
      <button class="day day--disabled">31</button>
      <button class="day">1</button>
      <button class="day">2</button>
      <button class="day">3</button>
      <button class="day">4</button>
      <button class="day">5</button>
      <button class="day">6</button>
      <button class="day">7</button>
      <button class="day">8</button>
      <button class="day">9</button>
      <button class="day">10</button>
      <button class="day">11</button>
      <button class="day">12</button>
      <button class="day">13</button>
      <button class="day">14</button>
      <button class="day">15</button>
      <button class="day">16</button>
      <button class="day">17</button>
      <button class="day">18</button>
      <button class="day">19</button>
      <button class="day">20</button>
      <button class="day">21</button>
      <button class="day">22</button>
      <button class="day">23</button>
      <button class="day">24</button>
      <button class="day">25</button>
      <button class="day">26</button>
      <button class="day">27</button>
      <button class="day">28</button>
      <button class="day">29</button>
      <button class="day">30</button>
      <button class="day">31</button>
      <button class="day day--disabled">1</button>
      <button class="day day--disabled">2</button>      
    </div>
  </div>