<div class="error-page">
    <div class="d-flex my-auto mx-auto">
        <div class="col-12 col-sm-6 col-md-5 my-auto">
            <p class="error-header"> Oops! </p>
            <p class="error-code-highlight"> Erorr code <strong>{{ errorCode }}</strong> </p>
            <div class="col-12 col-md-8 p-0">
                <p class="error-message text-gray">{{ errorGeneralMessage | async }}</p>
                <p class="error-message text-gray">{{ errorSpecificMessage | async }}</p>
                <div class="d-flex">
                    <button class="btn btn-lg btn-accent px-5 mt-2 mx-auto mx-sm-0" [routerLink]="[ '/' ]">Go Home</button>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-7 m-0 ml-lg-5 ml-xl-5 my-3 d-none d-sm-flex">
            <ng-container *ngIf="errorCode == 401 || errorCode == 403; else otherCode">
                <img src="../../assets/images/safe.jpg" class="responsive-img" alt="error img">
            </ng-container>
            <ng-template #otherCode>
                <img src="../../assets/images/broken-glass-jar.jpg" class="responsive-img" alt="unexpected error img">
            </ng-template>
        </div>
    </div>
</div>