.error-page{
    display: flex;
    justify-content: center;

    @media screen and (min-width: 992px) {
        .error-header{
            font-size: 140px;
            color: #212121;
            font-weight: 600;
        }
    }

    @media screen and (max-width: 992px) {
        .error-header{
            font-size: 80px;
            color: #212121;
            font-weight: 600;
        }
    }

    .error-code-highlight{
        font-size: x-large;
        font-weight: 500;
        margin: 0;
    }

    .error-message{
        font-size: large;
        margin: 20px 0;
        padding: 0 20px 0 0;
    }

    .responsive-img {
        max-width: 500px;
        max-height: 1000px;
        width: 100%;
        height: auto;
    }
}