// Global CSS styles.

// Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900&display=swap');
@import "../node_modules//@fortawesome/fontawesome-free/css/all.min.css";

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@import '~ngx-toastr/toastr';

// General
*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: large;
    color: #212121;
}

div, .row, .container, .container-fluid{
    padding: 0;
    margin: 0;
}

button:active, button:focus{
    outline: none !important;
    box-shadow: none !important;
}

// Text
.header{
    font-size: 45px;
    font-weight: 600;
    color: #212121;

    &-light{
        color: #FFFFFF;
    }
}

.text {
    font-size: medium;
    font-weight: 400;
    color: #212121;

    &-gray{
        color: #757575;
    }

    &-light{
        color: #FFFFFF;
    }

    &-orange {
        color: rgb(224, 73, 17);
    }

    &-green {
        color: rgb(3, 121, 3);
    }

    &-blue {
        color: rgb(28, 51, 153);
    }

    &-mono{
        font-size: 16px;
        font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    }
}

// Colors
.dark-primary-color    { background: #455A64; }
.default-primary-color { background: #607D8B; }
.light-primary-color   { background: #CFD8DC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #448AFF; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }
.bg-gray               { background-color: #f1f3f4; }
.bg-orange             { background-color: rgb(224, 73, 17); }
.bg-green              { background-color: rgb(3, 121, 3); }
.bg-blue               { background-color: rgb(28, 51, 153); }
.bg-red                { background-color: #f00000; }

// Filters
.grayscale{
    filter: grayscale(100%);
}

// Forms
form {
    background-color: white;

    label{
        font-size: small;
        font-weight: 500;
    }

    input{
        border-radius: 5px;
    }
    
    p.form-control-note{
        margin: 10px 0 5px 0; 
        font-size: 13px;
        color: #212121b2;
        line-height: 1.5; 
    }

    small{
        font-size: 13px !important;
    }
}

// Buttons
button.btn-accent{ 
    padding: 15px 20px;
    transition: background-color .3s linear;
    border: none;
    border-radius: 4px;
    background-color: #448AFF;
    color: #FFFFFF !important;
    font-weight: 400; 
    font-size: medium;

    &-circle{
        border-radius: 50%;
    }

    &-tight {
        padding: 5px 20px;
        transition: background-color .3s linear;
        border: none;
        border-radius: 4px;
        background-color: #448AFF;
        color: #FFFFFF !important;
        font-weight: 400; 
        font-size: medium;

        &:hover, &:active {
            transition: all .3s linear;
            background-color: rgb(52, 119, 235);
            color: #FFFFFF;
        }
    }

    &:hover {
        transition: all .3s linear;
        background-color: rgb(52, 119, 235);
        color: #FFFFFF;
    }
}

button.btn-link{
    transition: translate .3s ease-out;
    transform: translateX(-5px);  
    background-color: #448AFF; 
    
    &:hover, &:focus, &:active{
        text-decoration: none;
        text-shadow: none;
        background-color: rgb(62, 122, 224);
        color: #FFFFFF;

        &>i{
            transition: transform .3s ease-out;
            transform: translateX(5px);
        }       
    }
}

button.btn-flat{
    background-color: transparent;
    color: #212121;
    font-weight: 400;
    font-size: 20px;
    border: none;

    &:hover{
        background-color: transparent;
        color: #212121;
        font-weight: 400;
        border: none;
    }
}

button.btn-accent-outline{ 
    padding: 15px 20px;
    transition: all .3s linear;
    border: 1px solid rgba(0, 79, 216, .7);
    color: rgba(0, 79, 216, .7);
    border-radius: 4px;
    background-color: transparent;
    font-weight: 500; 
    font-size: medium;

    &-tight {
        padding: 5px 20px;
        transition: all .3s linear;
        border: 1px solid rgba(0, 79, 216, .7);
        color: rgba(0, 79, 216, .7);
        border-radius: 4px;
        background-color: transparent;
        font-weight: 500; 
        font-size: medium;

        &:hover, &:active {
            background-color: transparent;
            transition: all .3s linear;
            border-color: rgb(0, 79, 216);
            color: rgb(0, 79, 216);
        }
    }
    
    &:hover, &:active{
        background-color: transparent;
        transition: all .3s linear;
        border-color: rgb(0, 79, 216);
        color: rgb(0, 79, 216);
    }
}

// Cards
.custom-bordered-card {
    border-radius: 8px;
    transition: all 0.2s ease-out;
    border: 1px solid transparent;

    &>a{
         text-decoration: none;
         color: #212121;
    }

    &:hover{
         cursor: pointer;
         transition: all .3s ease-out;
         box-shadow: 0 2px 8px 6px rgba(0,0,0,.1);
         border: 1px solid rgba(128, 128, 128, 0.3);
    }
}  

div.custom-card{
    text-align: left;
    background: #fff;
    margin-bottom: 45px;
    margin-right: 17px;
    position: relative;
    box-shadow: 0 2px 4px 2px rgba(0,0,0,.1);
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    border-radius: 8px;   

    div.card-body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &:hover{
        transition: all .3s ease-out;
        box-shadow: 0 2px 20px 10px rgba(0,0,0,.1);
    }
}

.info-cards{
    &>div{
        border-radius: 8px;
        transition: all 0.2s ease-out;
        margin: 5px;
        border: 1px solid transparent;

        &>a{
            text-decoration: none;
            color: #212121;
        }

        &:hover{
            cursor: pointer;
            transition: all .3s ease-out;
            box-shadow: 0 2px 8px 6px rgba(0,0,0,.1);
            border: 1px solid rgba(128, 128, 128, 0.3);
        }
    }
}

// Dividers
.tiny-divider{
    width: 200px;
    height: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
}

div.divider{
    background-color: #FFFFFF;
    width: 50px;
    height: 5px;
}

// Banners
.partners-banner{  
    height: 100px;  
    align-content: center;  
    display: flex;
    align-items: center;
    margin-bottom: 70px;
    
    &>img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 10px;
        box-shadow: none;
        transition: box-shadow .3s ease-out;        

        &:hover{
            transition: all .3s ease-out;
            box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.1);
        }
    }
}

small.partners-banner-text{
    margin-top: 50px;
}

// Badges
.info-circle-badge {     
    &-sm {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        text-align: center;
        display: inline-block;
        justify-content: center;
        color: whitesmoke;
        font-weight: 500;
        transition: all 0.2s ease-out;

        &:hover {
            transform:scale(1.05);
            transition: all .2s ease-in; 
            cursor: pointer;
        }

        p {
            font-size: xx-large;     
            margin: 0;        
        }
    }

    &-md {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        text-align: center;
        display: inline-block;
        justify-content: center;
        color: whitesmoke;
        font-weight: 500;
        transition: all 0.2s ease-out;

        &:hover {
            transform:scale(1.05);
            transition: all .2s ease-in; 
            cursor: pointer;
        }

        p {
            font-size: xx-large; 
            margin: 0;     
        }
    }

    &-lg {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        text-align: center;
        display: inline-block;
        justify-content: center;
        color: whitesmoke;
        font-weight: 500;
        transition: all 0.2s ease-out;

        &:hover {
            transform:scale(1.05);
            transition: all .2s ease-in; 
            cursor: pointer;
        }

        p {
            font-size: xx-large;  
            margin: 0;           
        }
    }        
}

// Shadows
.custom-shadow-lg{
    padding: 15px;
    border-radius: 8px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);     
}

// Datepickers
input.datepicker {
    color: #212121;
    border: 1px solid #ced4da;
    padding: 6px 12px;
    font-size: 1rem;
    width: 40%;
}

// Forms validation
form {
    .form-control.is-invalid, .was-validated .form-control:invalid {
        background-image: url(../src/assets/images/validation-error.png) !important;
        background-repeat: no-repeat;      
        background-position: center right calc(.375em + .1875rem);
        background-size: calc(.75em + .375rem) calc(.75em + .375rem);
    }

    .form-control.ng-valid {
        background-image: url(../src/assets/images/validation-success.png) !important;
        background-repeat: no-repeat;      
        background-position: center right calc(.375em + .1875rem);
        background-size: calc(.75em + .375rem) calc(.75em + .375rem);
    }

    i.fas {
        font-size: small;
        color: #2121218a;
        margin: 0 0 0 5px;

        &:hover {
            cursor: pointer;
            color: #212121a9;
        }
    }

    i.far {
        font-size: small;
        color: #2121218a;
        margin: 0 0 0 5px;

        &:hover {
            cursor: pointer;
            color: #212121a9;
        }
    }
}

// Tooltip
.custom-tooltip {
    .tooltip-inner {
        background-color: rgba(0, 0, 0, 0.8);
        font-size: small;
    }

    .arrow::before {
        border-bottom-color: rgba(0, 0, 0, 0.8);
        border-top-color: rgba(0, 0, 0, 0.8);
    }
}

// Custom checkbox
.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #448AFF;
}

.resource-details {
    font-size: medium;
    color: #212121;

    &-container {
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        background-color: white;
    }

    small {
        font-weight: 500;
        color: gray;
    }

    label {
        color: gray;
    }

    p {
        font-size: 15px;
    }
}

// Toasts
.custom-toast {
    background-color: #252525;
    padding: 10px 15px;
    color: rgb(216, 216, 216);
    font-size: medium;    
    border-radius: 3px;
    background-image: none;
}
