.bg-gray{
    background-color: #f6f8fa;
}

.text-gray{
    color: #6a737d;
}

.text-mono {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
}

.graysacale{
    filter: grayscale(100%);
}