ul.ticket-details{
    margin: 35px 0;

    &>li{
        list-style-type: none;
        
        i.fas{
            margin-right: 10px;
            color: rgb(0, 209, 0);
            font-size: 13px;
            align-self: center;
        }

        small{
            margin: 3px 0;
            font-size: 14px;
        }
    }
}

.visit-overview{
    font-size: small;
}

.discount-table{
    text-align: center;
    width: 100%;

    th{
        font-size: medium;
        font-weight: 500;
    }

    td{
        width: 25%;
        font-size: 14px;
    }
}