.calendar {
    width: 900px;
    height: 500px;
    border-radius: 8px;
    box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin: 100px;
}
  
.calendar-base{
    border-radius: 0 8px 8px 0;
}

.year {
    color: rgb(219, 219, 219);
    font-size: 30px;
    font-weight: bold;
}
  
.triangle-left {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 10px solid #E8E8E8;
    border-bottom: 5px solid transparent;
    transition: all 0.2s ease-out;

    &:hover{
        transition: all 0.2s ease-in;
        border-right: 10px solid rgb(106, 160, 255);
        cursor: pointer;
    }
}
  
.triangle-right {
    width: 10px;
    height: 10px;
    border-top: 5px solid transparent;
    border-left: 10px solid #E8E8E8;
    border-bottom: 5px solid transparent;
    transition: all 0.2s ease-out;

    &:hover{
        transition: all 0.2s ease-in;
        border-left: 10px solid rgb(106, 160, 255);
        cursor: pointer;
    }
}
  
.months {
    color: #AAAAAA;  

    &>span{
        margin: 0 8px;
        transition: all 0.2s ease-in;

        &:hover{
            transition: all 0.2s ease-in;
            color: #2980B9;
            cursor: pointer;
        }       
    }
}

table.calendar-body{   
    table-layout: fixed ;
    width: 97%;
        
    td {
        text-align: center;
        width: 14.3%;
        height: 14.3%;
        font-size: 18px;
    }

    .calendar-body-day{   
        margin: 0;
        padding: 0;
        background-color: red;
        border-radius: 50%;
        border: 1px solid blueviolet;
    }    
}
  
.month-line {
    border: none;
    height: 1px;
    margin: 0;
    padding: 0;
    width: 90%;
}

.calendar-left {
    width: 33%;
    height: 100%;
    border-radius: 8px 0px 0px 8px;
    background-color: rgb(106, 160, 255);
    color: whitesmoke;
}

.num-date {
    font-size: 150px;
    font-weight: 700;
    margin: 0;
}
  
.day {  
    font-size: 30px;
    margin: 0;
    position: relative;
    top: -60px;
}

.day-bg{
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    margin:auto;
    //background-color: transparent;

    &:hover, &:focus, &:active{
        transition: all 0.2s ease-in;
        background-color: rgb(106, 160, 255);
    }
}

.btn-calendar{
    border: none; 
    background-color: transparent; 
    position: relative; 
    top: 6px; 
    left: 0px;

    &:hover{
        background-color: transparent;
    }

    &:focus, &:active{
        transition: all 0.1 ease-in;
        font-weight: 700;
        color: white;
    }
}

.available-groups {
    .dropdown-divider {
        margin: 0;
    }

    &-badge{
        color: rgb(0, 209, 0);
        margin: 0 0 0 20px;
        text-align: center;
        font-size: larger;
        font-weight: 500;
    }

    .dropdown-item:active{
        background-color: whitesmoke;
        color: black;
    }

    &>button{
        transition: all 0.2s ease-in;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        margin: 0 20px;

        &:hover{
            transition: all 0.2s ease-in;
            background-color: transparent;
            border: 1px solid whitesmoke;
            color: whitesmoke;
        }

        &:active{
            background-color: transparent;
            border: 1px solid whitesmoke;
        }
    }
}

.active-month{
    font-weight: 600;
    color: rgb(106, 160, 255);
}