.cookie-alert {
    background-color: rgb(55, 107, 197); 
}

.cookie-img {
    height: 90px;
    width: 90px;
    background-image: url(../../assets/images/cookie.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.cookie-info {
    font-weight: 300;
    font-size: small;
    color: whitesmoke;
}