<div class="container-fluid justify-content-center mx-0 px-0">
    <div class="row bg-gray mx-0 py-5 justify-content-center">
        <div class="col-11 col-lg-10 justify-content-center">
            <div class="col-12 col-lg-5 text-center mx-auto mt-1 mt-md-3">
                <p class="text-mono text-gray">Ticket tariff</p>
                <h2 class="main-header">Choose the ticket for you</h2>
                <p class="header-subtitle text-gray">
                    Choose the ticket that suits you best. And this is just the beginning. See what discounts you are
                    entitled to</p>
            </div>
            <div class="card-deck my-md-5 text-center">
                <div class="card my-3 my-lg-2">
                    <div class="card-body">
                        <h4 class="card-title">CDS i Piwnice Przedprożne</h4>
                        <p class="card-highlight">28 PLN</p>
                        <small class="text-gray mx-5">Sightseeing both of Centrum Dziedzictwa Szkła and Piwnice
                            Przedprożne</small>
                        <p class="card-text mt-3 text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Proin
                            nibh augue,
                            suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet
                            tellus.
                            Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel
                            hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue,
                            pede
                            vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit.
                        </p>
                        <button class="btn btn-primary btn-lg btn-block mt-4"
                            [routerLink]="[ '/ticket-order' ]">Choose</button>
                    </div>
                    <div class="card-footer text-left">
                        <p class="text-muted m-0">Last updated 12.07.2019y</p>
                    </div>
                </div>

                <div class="w-100 d-none d-sm-block d-lg-none">
                    <!-- wrap every 1 on md-->
                </div>

                <div class="card my-3 my-lg-2">
                    <div class="card-body">
                        <h4 class="card-title">Centrum Dziedzictwa Szkła</h4>
                        <p class="card-highlight">22 PLN</p>
                        <small class="text-gray mx-5">Sightseeing Centrum Dziedzictwa</small>
                        <p class="card-text mt-3 text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Proin
                            nibh augue,
                            suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet
                            tellus.
                            Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel
                            hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue,
                            pede. </p>
                        <button class="btn btn-primary btn-lg btn-block mt-4">Choose</button>
                    </div>
                    <div class="card-footer text-left">
                        <p class="text-muted m-0">Last updated 12.07.2019y</p>
                    </div>
                </div>

                <div class="w-100 d-none d-sm-block d-lg-none">
                    <!-- wrap every 1 on md-->
                </div>
                <div class="w-100 d-none d-lg-block d-xl-none">
                    <!-- wrap every 2 on lg-->
                </div>

                <div class="card my-3 my-lg-2">
                    <div class="card-body">
                        <h4 class="card-title">Piwnice Przedprożne</h4>

                        <p class="card-highlight">10 PLN</p>
                        <small class="text-gray mx-5">Sightseeing Piwnice Przedprożne.</small>
                        <p class="card-text mt-3 text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Proin
                            nibh augue,
                            suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet
                            tellus.
                            Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel
                            hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue,
                            pede. </p>
                        <button class="btn btn-primary btn-lg btn-block mt-4">Choose</button>
                    </div>
                    <div class="card-footer text-left">
                        <p class="text-muted m-0">Last updated 12.07.2019y</p>
                    </div>
                </div>

                <div class="w-100 d-none d-sm-block d-lg-none">
                    <!-- wrap every 1 on md-->
                </div>


                <div class="card my-3 my-lg-2">
                    <div class="card-body">
                        <h4 class="card-title">Centrum Dziedzictwa Szkła i Piwnice Przedprożne</h4>

                        <p class="card-highlight">28 PLN</p>
                        <p class="card-text mt-3 text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Proin
                            nibh augue,
                            suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet
                            tellus.
                            Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel
                            hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue,
                            pede. </p>
                        <button class="btn btn-primary btn-lg btn-block mt-4">Choose</button>
                    </div>
                    <div class="card-footer text-left">
                        <p class="text-muted m-0">Last updated 12.07.2019y</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mx-0">
        <div class="col-md-10 justify-content-center align-content-center">
            <h2 class="main-header px-0 py-md-4">
                Everybody love discounts
            </h2>
            <div class="d-block d-lg-flex justify-content-between pb-md-5 mb-md-5">
                <div class="col-lg-4 text-left pl-0 pr-3">
                    <h3 class="mb-2"> For childs </h3>
                    <p class="lead text-gray">Each child who visits SDC brings with them a great deal of knowledge about
                        the glass heritage. Therefore, one of the main discounts in SDC is addressed to children.</p>
                </div>
                <div class="col-lg-4 pl-0 pl-lg-3 pr-3">
                    <h3 class="mb-2"> For seniors </h3>
                    <p class="lead text-gray">
                        Seniors often do not sit at home at all. instead they travel, visit, get to know new places and
                        people. for such people, the SDC team has prepared discounts for visiting the pre-penetrated
                        cellars and the Glass Heritage Centre.
                    </p>

                </div>
                <div class="col-lg-4 pl-0 pl-lg-3 pr-0">
                    <h3 class="mb-2"> For groups </h3>
                    <p class="lead text-gray">Why not go on a sightseeing tour with friends, family or a partner? No
                        matter who you go with, there will always be a discount for tickets for organized groups.</p>
                </div>
            </div>
        </div>
    </div>
</div>