p.badge-text {
    font-size: medium !important;
}

#benefits-card:hover ~ #badge #benefits-badge {
    transform:scale(1.05);
    transition: all .2s ease-in;    
}

#ventures-card:hover ~ #badge #ventures-badge {
    transform:scale(1.05);
    transition: all .2s ease-in;    
}

#join-card:hover ~ #badge #join-badge {
    transform:scale(1.05);
    transition: all .2s ease-in;    
}
