<div class="pt-4 pb-5">
    
    <!-- PARTNERS SECTION START -->
    <div class="col-10 col-lg-5 text-center mx-auto mt-4 mb-5">
        <p class="text-gray text-mono">
            Partnerships
        </p>
        <h1 class="header mb-4">
            Become our partner
        </h1>
        <p class="text-gray col-11 mx-auto mt-4">
            Partnership with SDC brings many benefits. From the opportunity to show the world your artistic talents, by
            gaining influences and long-lasting friendships, and ending with earning opportunities.
        </p>

        <div class="container col-12 col-md-10 mx-auto align-items-center my-5 pb-1">
            <div class="d-flex justify-content-center partners-banner">
                <img src="../../assets/images/atom.png" alt="atom logo">
                <img src="../../assets/images/circleci.png" style="position: relative; top: 50%" alt="circleci logo">
                <img src="../../assets/images/codeclimate.png" alt="codeclimate logo">
                <img src="../../assets/images/ac-dc.png" style="position: relative; top: 50%" alt="ac dc logo">
                <img src="../../assets/images/travis-ci.png" alt="travis-ci logo">
                <img src="../../assets/images/zenhubio.png" style="position: relative; top: 50%" alt="zenhubio logo">
                <img src="../../assets/images/google.png" alt="google logo">
            </div>
        </div>
        <small class="text-gray partners-banner-text">*On August 2019</small>
    </div>

    <!-- PATNERSHIP INFO CARDS START -->
    <div class="d-block col-12 col-md-7 align-items-end mx-auto pb-5 info-cards">
        <div class="p-3 col-12 col-md-6 ">
            <a href="#">
                <div class="d-flex">
                    <div>
                        <h5>Patnership benefits</h5>
                        <small>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu gravida
                            tortor,
                            a tincidunt est. Aliquam blandit id justo vel ornare. ivamus eu gravida
                            tortor, a tincidunt.
                        </small>
                    </div>
                    <i class=" my-auto ml-5 fas fa-caret-right"></i>
                </div>
            </a>
        </div>

        <div class="p-3 col-12 col-md-6">
            <a href="#">
                <div class="d-flex">
                    <div>
                        <h5>Joint ventures</h5>
                        <small>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu gravida
                            tortor,
                            a tincidunt est. Aliquam blandit id justo vel ornare. ivamus eu gravida
                            tortor, a tincidunt.
                        </small>
                    </div>
                    <i class=" my-auto ml-5 fas fa-caret-right"></i>
                </div>
            </a>
        </div>
        <div class="p-3 col-12 col-md-6">
            <a href="#">
                <div class="d-flex">
                    <div>
                        <h5>How to become a SDC partner</h5>
                        <small>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu gravida
                            tortor,
                            a tincidunt est. Aliquam blandit id justo vel ornare. ivamus eu gravida
                            tortor, a tincidunt.
                        </small>
                    </div>
                    <i class=" my-auto ml-5 fas fa-caret-right"></i>
                </div>
            </a>
        </div>
    </div>
    <!-- PATNERSHIP INFO CARDS END -->

    <!-- PARTNERS SECTION END -->

</div>