<div class="pt-4 pb-5">

    <!-- PARTNERS SECTION START -->
    <div class="col-12 col-lg-5 text-center mx-auto mt-4 mb-5">
        <p class="text-gray text-mono">
            Partnerships
        </p>
        <h1 class="header mb-4">
            Become our partner
        </h1>
        <p class="text-gray col-11 mx-auto mt-4">
            Partnership with SDC brings many benefits. From the opportunity to show the world your artistic talents, by
            gaining influences and long-lasting friendships, and ending with earning opportunities.
        </p>

        <div class="container col-12 col-md-10 mx-auto align-items-center my-5 pb-1">
            <div class="d-flex justify-content-center partners-banner">
                <img src="../../assets/images/atom.png" alt="atom logo" placement="top" ngbTooltip="Atom" tooltipClass="custom-tooltip">
                <img src="../../assets/images/circleci.png" style="position: relative; top: 50%" alt="circleci logo" placement="top" ngbTooltip="Circle CI" tooltipClass="custom-tooltip">
                <img src="../../assets/images/codeclimate.png" alt="codeclimate logo" placement="top" ngbTooltip="Code Climate" tooltipClass="custom-tooltip">
                <img src="../../assets/images/ac-dc.png" style="position: relative; top: 50%" alt="ac/dc logo" placement="top" ngbTooltip="AC/DC" tooltipClass="custom-tooltip">
                <img src="../../assets/images/travis-ci.png" alt="travis-ci logo" placement="top" ngbTooltip="Travis CI" tooltipClass="custom-tooltip">
                <img src="../../assets/images/zenhubio.png" style="position: relative; top: 50%" alt="zenhubio logo" placement="top" ngbTooltip="Zenhubio" tooltipClass="custom-tooltip">
                <img src="../../assets/images/google.png" alt="google logo" placement="top" ngbTooltip="Google" tooltipClass="custom-tooltip">
            </div>
        </div>
        <small class="text-gray partners-banner-text">*On {{ now | date: 'MMMM yyyy' }}</small>
    </div>

    <!-- PATNERSHIP INFO CARDS START -->
    <div class="d-flex">
        <div class="col-12 col-lg-10 col-xl-7 mx-auto mt-5">

            <!-- =================== links card here ======================== -->

            <div class="p-4 col-12 col-md-6 custom-bordered-card" id="benefits-card">
                <div class="d-flex">
                    <div>
                        <h5 class="text-green">Partnerships benefits</h5>
                        <small>
                            Thanks to joining the international partner network of SDC, you will be able to present your talent to the world completely free, raise funds for refining your
                            works, and meet many amazing people.
                        </small>
                    </div>
                </div>
            </div>

            <div class="p-4 col-12 col-md-6 custom-bordered-card" id="ventures-card">
                <div class="d-flex">
                    <div>
                        <h5 class="text-blue">Joint ventures</h5>
                        <small>
                            Cooperation with us also means that you will have the opportunity to participate in joint ventures, such as training or glass exhibitions in partner
                            museums, etc. Also, we help you organize charity events.
                        </small>
                    </div>
                </div>
            </div>

            <div class="p-4 col-12 col-md-6 custom-bordered-card" id="join-card">
                <div class="d-flex">
                    <div>
                        <h5 class="text-orange">Work with us</h5>
                        <small>
                            Do you want to join the SDC team, run workshops or maybe show yourself to the world by
                            showing your work with us? Partnership with SDC is not only a contract, but it is also above all an adventure.
                        </small>
                    </div>
                </div>
            </div>
            <!-- ========================================================= -->

            <!-- =============== badges here ================ -->
            <div id="badge" style="position: absolute; right: 0; top: 0;" class="d-none d-xl-block">
                <div class="d-table">
                    <div class="info-circle-badge-lg bg-green shadow-lg" id="benefits-badge" style="position: relative; top: 70px; left: 130px;">
                        <div style="position: relative; top: 45px;">
                            <p>Benefits</p>
                            <p class="badge-text p-2">You can present your talent, take part in festivals and make friends.</p>
                        </div>
                    </div>

                    <div class="info-circle-badge-md bg-blue shadow-lg" id="ventures-badge" style="position: relative; top: 100px; left: 150px;">
                        <div style="position: relative; top: 40px;">
                            <p>Ventures</p>
                            <p class="badge-text p-2">Over 20 events per year, including festivals etc.</p>
                        </div>
                    </div>
                    <div class="info-circle-badge-sm bg-orange shadow-lg" id="join-badge" style="position: relative; top: 310px; right: 160px;">
                        <div style="position: relative; top: 18px;">
                            <p>Join</p>
                            <p class="badge-text p-2">Send us a business inquiry or visit our agenda.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ================================================= -->

        </div>
    </div>
    <!-- PATNERSHIP INFO CARDS END -->

    <!-- PARTNERS SECTION END -->

</div>