<div class="container-fluid">

    <!-- TICKETS PRICE LISTS START -->
    <div class="pt-4 pb-5">
        <div class="col-10 col-lg-5 text-center mx-auto mt-4 mb-5">
            <p class="text-gray text-mono">
                Tickets
            </p>
            <h1 class="header mb-4">
                Choose a ticket for you
            </h1>
            <p class="text-gray col-11 mx-auto mt-4">
                One type of ticket on offer is definitely not enough. That's why in the SDC you can choose among many
                types
                of tickets.
            </p>
        </div>

        <!-- TICKET TARIFF CARDS START -->
        <div class="card-deck col-12 col-lg-8 mx-auto mb-md-3">

            <!-- FIRST PRICE LIST START -->
            <div class="card custom-card">
                <div class="card-body">
                    <div>
                        <h5 class="card-subtitle text-center my-4">Centrum Dziedzictwa Szkla</h5>
                        <h1 class="card-title text-center">24 PLN</h1>
                        <h6 class="text-center">Per person</h6>
                        <p class=" col-8 text-center visit-overview mx-auto text-gray">
                            You will only visit the SDC main building
                        </p>
                        <div>
                            <ul class="ticket-details">
                                <li>
                                    <div class="row">
                                        <i class="fas fa-check"></i>
                                        <small>Spectacular shows of glass production</small>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <i class="fas fa-check"></i>
                                        <small>Glass workshops</small>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <i class="fas fa-check"></i>
                                        <small>Glass products exhibitions</small>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <i class="fas fa-check"></i>
                                        <small>Anamorphic painting (3D)</small>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <i class="fas fa-check"></i>
                                        <small>Cinema and conference room</small>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <i class="fas fa-check"></i>
                                        <small>Glass souvenir shop</small>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <i class="fas fa-check"></i>
                                        <small>2 hours sightseeing duration</small>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="mt-4 d-flex">
                        <button class="btn btn-accent btn-block btn-lg">Choose Centrum Dziedzictwa Szkla</button>
                    </div>
                </div>
            </div>
            <!-- FIRST PRICE LIST END -->

            <div class="w-100 d-none d-md-block d-lg-none card-deck-divider">
                <!-- wrap evrey 1 on md -->
            </div>

            <!-- SECOND PRICE LIST START -->
            <div class="card custom-card">
                <div class="card-body">
                    <div>
                        <h5 class="card-subtitle text-center my-4">Piwnice Przedprozne</h5>
                        <h1 class="card-title text-center">20 PLN</h1>
                        <h6 class="text-center">Per person</h6>
                        <p class=" col-8 text-center visit-overview mx-auto text-gray">
                            You will only visit SDC basements
                        </p>
                        <div>
                            <ul class="ticket-details">
                                <li>
                                    <div class="row">
                                        <i class="fas fa-check"></i>
                                        <small>Exhibition of glass art works</small>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <i class="fas fa-check"></i>
                                        <small>The "Glass in physics" room</small>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <i class="fas fa-check"></i>
                                        <small>Independent experiments on glass props</small>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <i class="fas fa-check"></i>
                                        <small>Examples of local glass products</small>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <i class="fas fa-check"></i>
                                        <small>2 hours sightseeing duration</small>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="mt-4 d-flex">
                        <button class="btn btn-accent btn-block btn-lg">Choose Piwnice Przedprozne</button>
                    </div>
                </div>
            </div>
            <!-- SECOND PRICE LIST END -->

            <div class="w-100 d-none d-md-block d-lg-none card-deck-divider">
                <!-- wrap evrey 1 on md -->
            </div>

            <!-- THIRD PRICE LIST START -->
            <div class="card custom-card">
                <div class="card-body">
                    <div>
                        <h5 class="card-subtitle text-center my-4">SDC and Piwnice Przedprozne</h5>
                        <h1 class="card-title text-center">40 PLN</h1>
                        <h6 class="text-center">Per person</h6>
                        <p class="col-8 text-center visit-overview mx-auto text-gray">
                            You will visit the entire SDC and basements
                        </p>
                        <div>
                            <ul class="ticket-details">
                                <li>
                                    <div class="row">
                                        <i class="fas fa-exchange-alt"></i>
                                        <small>Combination of SDC and basements tickets</small>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <i class="fas fa-check"></i>
                                        <small>Opportunity to learn about glass production</small>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <i class="fas fa-check"></i>
                                        <small>Visiting the entire complex in less time</small>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <i class="fas fa-check"></i>
                                        <small>The most affordable offer</small>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <i class="fas fa-check"></i>
                                        <small>2 hours sightseeing duration</small>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="mt-4 d-flex">
                        <button class="btn btn-accent btn-block btn-lg">Choose SDC and Piwnice Przedprozne</button>
                    </div>
                </div>
            </div>
            <!-- THIRD PRICE LIST END -->

        </div>
        <!-- TICKET TARIFF CARD END -->
    </div>
    <!-- TICKETS PRICE LISTS END -->

    <!-- DISCOUNTS START -->
    <div class="mt-4">
        <div class="col-10 col-lg-5 text-center mx-auto mt-4 mb-5">
            <p class="text-gray text-mono">
                Discounts
            </p>
            <h1 class="header mb-4">
                Check out discounts
            </h1>
            <p class="text-gray col-11 mx-auto mt-4">
                The discounts we have prepared will satisfy even the most demanding customers. Do not wait with a
                choice, check our discounts.
            </p>
        </div>

        <!-- DISCOUNTS TABLE START -->
        <div class="col-12 col-lg-8 mx-auto mb-md-3">
            <table class="table table-bordered discount-table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col" class="text-center">Discount*</th>
                        <th scope="col" class="text-center">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>For child</td>
                        <td>-20%</td>
                        <td>This is descrption</td>
                    </tr>
                    <tr>
                        <td>For child</td>
                        <td>-20%</td>
                        <td>This is descrption</td>
                    </tr>
                    <tr>
                        <td>For child</td>
                        <td>-20%</td>
                        <td>This is descrption</td>
                    </tr>
                </tbody>
            </table>

            <div class="col-11 col-lg-6 mx-auto py-5">
                <div class="mx-auto text-center">
                    <h4>*Discounts do not accumulate</h4>
                    <small class="text-muted">
                        Discounts do not add up, which means that there will never be a situation where more than one
                        discount will be charged on one ticket. The system automatically calculates the most profitable
                        discount.
                    </small>
                </div>
            </div>
        </div>
        <!-- DISCOUNTS TABLE END -->

        <div class="row col-10 mb-5">
            <app-ticket-order-calendar class="ml-auto"></app-ticket-order-calendar>
        </div>

    </div>
    <!-- DISCOUNTS END -->

</div>