.visit-card-img{
    box-shadow: 0 2px 5px 3px rgba(0,0,0,0.1);
    padding: 0;
    margin: 0;

    &:hover{
        box-shadow: 0 2px 5px 3px rgba(0,0,0,0.1);
    }
}

// @media screen and (max-width: 575px) {
//     #parent {
//         display: flex;
//         flex-direction: column-reverse;

//         #reverse {
//             display: block !important;
//         }        
//     }
// }