<div class="container-fluid">
    <!-- MAIN HEADER START -->
    <div class="container-fluid  py-5">
        <div class="col-10 col-lg-5 text-center mx-auto mb-5">
            <p class="text-gray text-mono">
                SDC sightseeing
            </p>
            <h1 class="header mb-4">
                Visit us in SDC
            </h1>
            <p class="text-gray col-11 mx-auto">
                The Glass Heritage Center is Poland's first tourist and cultural facility in an interactive way
                presenting
                the subject of glass industry and glass works.
            </p>
            <button class="btn btn-accent-outline btn-lg  mt-3" [routerLink]="[ '/pricing' ]">
                Choose a ticket for you
                <i class="fas fa-long-arrow-alt-right ml-2"></i>
            </button>
        </div>

        <!-- VISIT INFO CARDS SECTION START -->
        <div>
            <div class="row col-6 mx-auto">

                <div class="d-flex flex-nowrap mx-auto">
                    <div class="col-5 card custom-card visit-card-img">
                        <div class="card-body p-0">
                            <img src="../../assets/images/glass-rod.jpg" class="card-img" alt="artistic broken glass">
                        </div>
                    </div>

                    <div class="col-7 text-left px-5 align-self-center">
                        <h4>
                            The SDC museum
                        </h4>
                        <p class="text">
                            The Glass Heritage Center is Poland's first tourist and cultural facility in an interactive way presenting
                            the subject of glass industry and glass works.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row py-5 col-6 mx-auto">
                <div class="d-flex flex-nowrap mx-auto">
                    <div class="col-7 text-left px-5 align-self-center">
                        <h4>
                            Informative lectures
                        </h4>
                        <p class="text">
                            Our visitors can not only admire the beauty of glass art and the craftsmanship of glass
                            artists
                            but above all learn the secrets of production and decorative techniques in which they can
                            take
                            an active part.
                        </p>
                    </div>
                    <div class="col-5 card custom-card visit-card-img">
                        <div class="card-body p-0">
                            <img src="../../assets/images/artistic-glass-broken.jpg" class="card-img" alt="artistic broken glass">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row col-6 mx-auto">
                <div class="d-flex flex-nowrap mx-auto">
                    <div class="col-5 card custom-card visit-card-img">
                        <div class="card-body p-0">
                            <img src="../../assets/images/art-glass-ball.jpg" class="card-img" alt="artistic broken glass">
                        </div>
                    </div>
                    <div class="col-7 text-left px-5 align-self-center">
                        <h4>
                            Perfect visit duration
                        </h4>
                        <p class="text">
                            Visiting both the main Center building and basements takes about 2 hours and the main
                            building
                            itself about 1.5 hours. The tour takes place under the guidance of a guide.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row py-5 col-6 mx-auto">
                <div class="d-flex flex-nowrap mx-auto">
                    <div class="col-7 text-left px-5 align-self-center">
                        <h4>
                            Two buildings
                        </h4>
                        <p class="text">
                            We offer an amazing journey through the world of glass. Our Center consists of two
                            facilities -
                            the main building located at Blich 2 street and the cellars, connect in
                            front of the western frontage of the Krosno Market Square.
                        </p>
                    </div>
                    <div class="col-5 card custom-card visit-card-img">
                        <div class="card-body p-0">
                            <img src="../../assets/images/artistic-glass-broken.jpg" class="card-img" alt="artistic broken glass">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- VISIT INFO CARDS SECTION END -->

    </div>
    <!-- MAIN HEADER END -->

    <!-- WORKHOUSE SHOWS SECTION START-->
    <div class="row bg-gray">
        <div class="col-10 col-lg-5 text-center mx-auto mt-4 mb-5">
            <p class="text-gray text-mono">
                Workhouse shows
            </p>
            <h1 class="header mb-4">
                See artistic glassmaking
            </h1>
            <p class="text-gray col-11 mx-auto">
                During spectacular shows, artistic and decorative objects are created in front of the viewers. You can
                also try your hand and blow out the glass mold yourself
            </p>
            <button class="btn btn-accent-outline btn-lg btn-link my-4" [routerLink]="[ '/partners' ]">
                Be our partner and present your talent
                <i class="fas fa-long-arrow-alt-right ml-2"></i>
            </button>

            <p class="text-gray">
                Have you never seen glass workshop shows? See how specialists from SDC do it.
            </p>

            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
            </div>

        </div>
    </div>
    <!-- WORKHOUSE SHOWS SECTION END-->

    <!-- MAIN ARTACTIONS SECTION START -->
    <div>
        <div class="col-10 col-lg-5 text-center mx-auto mt-4 mb-5">
            <p class="text-gray text-mono">
                Atractions
            </p>
            <h1 class="header mb-4">
                Artactions for everyone
            </h1>
            <p class="text-gray col-11 mx-auto">
                See amazing glass art shows, learn more about the glass itself and visit exhibitions of the greatest
                artists
                from Poland and abroad.
            </p>
        </div>

        <div class="row col-6 mx-auto pb-3">
            <div class="col-4 text-wrap">
                <div class="card custom-card visit-card-img">
                    <div class="card-body p-0">
                        <img src="../../assets/images/glass-rod.jpg" class="card-img" alt="artistic broken glass">
                    </div>
                </div>
                <div class="px-0 pt-5 pb-4">
                    <h4>The cellars</h4>
                    <small class="text-muted">
                        The cellars contain, above all, an exhibition of the most valuable works of glass art made by
                        the
                        most famous artists working or associated with Krosno.
                    </small>
                </div>
            </div>
            <div class="col-4 text-wrap">
                <div class="card custom-card visit-card-img">
                    <div class="card-body p-0">
                        <img src="../../assets/images/glass-rod.jpg" class="card-img" alt="artistic broken glass">
                    </div>
                </div>
                <div class="px-2 pt-5 pb-4">
                    <h4>The basement</h4>
                    <small class="text-muted">
                        In the basement of the Krosno market you can also see examples of glass made in the city for
                        famous
                        world brands, including Venetian Murano.
                    </small>
                </div>
            </div>
            <div class="col-4 text-wrap">
                <div class="card custom-card visit-card-img">
                    <div class="card-body p-0">
                        <img src="../../assets/images/glass-rod.jpg" class="card-img" alt="artistic broken glass">
                    </div>
                </div>
                <div class="px-2 pt-5 pb-4">
                    <h4>Workshops</h4>
                    <small class="text-muted">
                        Glass processing and decorating workshops: glass painting workshop, engraving workshop,
                        production
                        of stained glass and production of glass figurines using the burner method.
                    </small>
                </div>
            </div>
        </div>

        <div class="col-6 mx-auto pb-5">
            <div class="tiny-divider bg-gray mx-auto"></div>

            <div class="col-7 mx-auto text-center">
                <h4>Visit and see</h4>
                <small class="text-muted">
                    The SDC is a facility that presents the glass industry in a completely new formula -
                    modern, attractive and affordable, thanks to which the multidimensional world of glass becomes
                    extremely
                    close.
                </small>
            </div>
        </div>
    </div>
    <!-- MAIN ATRACTIONS SECTION END -->

</div>