.login-form-body{
    border: 1px solid rgba(33, 33, 33, .2);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(33, 33, 33, .2);
    padding: 20px;

    &>.form-group>label{
        font-size: 14px;
        font-weight: 600;
    }

    &>.form-group>input{
        height: 30px;
    }

    &>button{
        border: 1px solid rgb(18, 138, 14);
    }
}