<div class="container-fluid">
    <form class="col-11 col-sm-9 col-lg-6 col-xl-4 mx-auto my-xl-5 p-5">
        <div class="text-center align-self-center">
            <img class="img-fluid mt-5 mb-3" src="../../assets/images/sdc-logo.png" alt="SDC-logo">
            <p class="lead text-gray" style="font-size: 26px;">
                Login to SDC Platform
            </p>
            <div class="login-form-body text-md-left">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" aria-describedby="username" id="username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" aria-describedby="password" id="password">
                </div>
                <button class="btn btn-lg btn-success btn-block mt-4" type="submit">Login</button>
            </div>
        </div>
        <div class="border mt-3">  
            <p class="m-0"> Only SDC employees with registerd accounts may have access to SDC platform. If you are not one of them please see <a href="">Careers</a> :)</p>           
        </div>

    </form>
</div>