<div class="container-fluid bg-gray">
    <form class="col-8 col-xl-3 mx-auto p-5">
        <div class=" text-center align-self-center">
            <img src="" alt="SDC-logo">
            <p class="lead text-gray">
                Login to SDC Platform
            </p>
            <div class="login-form-body text-md-left">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" aria-describedby="username" id="username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" aria-describedby="password" id="password">
                </div>
                <button class="btn btn-lg btn-success btn-block mt-4" type="submit">Login</button>
            </div>
        </div>
    </form>
</div>