<div class="row resource-overview">
    <mat-checkbox class="mx-3 resource-checkbox"></mat-checkbox>
    <p class="overview-info resource-overview-w-10 ml-2">{{ id | slice:0:8 }}</p>
    <p class="overview-info resource-overview-w-25">{{ mainInfo | slice:0:32 }}</p>
    <ng-container *ngIf="secondaryInfo?.length > 75; else elseTemplate">
        <p class="overview-info text-muted"> {{ secondaryInfo | slice:0:75 }}...</p>
    </ng-container>
    <ng-template #elseTemplate>
        <p class="overview-info text-muted"> {{ secondaryInfo }}</p>
    </ng-template>
    <p [class.resource-date]="editable" class="overview-info ml-auto mr-2 text-muted">{{ modifyDate | date: 'dd LLL yyyy'}}</p>   
</div>