<div class="conatiner-fluid mx-0">
    <div class="row m-0">
        <div class="col-12 col-lg-7 mx-auto d-lg-flex py-2 py-lg-3">
            <div class="col-lg-5 text-center text-lg-left d-none d-lg-flex">
                <a href="">SDC</a>
                <p class="my-0 mr-auto">&copy; 2019 SDC Krosno
                </p>
            </div>
            <div class="col-12 col-lg-7 d-flex text-left">
                <div class="col-4 d-inline-block">
                    <p class="m-0"><a class="footer-link" href="">About us</a></p>
                    <p class="m-0"><a class="footer-link" href="">Careres</a></p>
                    <p class="m-0"><a class="footer-link" href="">Shop</a></p>
                    <p class="m-0"><a class="footer-link" href="">Staf</a></p>
                </div>
                <div class="col-4 d-block">
                    <p class="m-0"><a class="footer-link" href="">Collaborate</a></p>
                    <p class="m-0"><a class="footer-link" href="">Partners</a></p>
                    <p class="m-0"><a class="footer-link" href="">Open hours</a></p>
                </div>
                <div class="col-4 d-block">
                    <p class="m-0"><a class="footer-link" href="">Terms</a></p>
                    <p class="m-0"><a class="footer-link" href="">Privicy</a></p>
                    <p class="m-0"><a class="footer-link" href="">Statute</a></p> 
                </div>
            </div>
        </div>
    </div>
</div>