.radio-group{

    &::before{
        content: '';
        display: table;
    }

    &::after{        
        clear: both;
        content: "";
        display: table;
    }    
}

.radio-input {
    float: left;
    margin: 14px -35px 0 14px;
    z-index: 3;
}

.radio-label{
    border: 1px solid #d1d5da;
    color: #24292e;
    cursor: pointer;
    float: left;
    margin-left: -1px;
    padding: 8px 10px 8px 35px;


    &:first-of-type {
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
        margin-left: 0;
    }

    &:last-of-type {
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
        padding-right: 16px;
    }

    &:checked{
        border-color: #0366d6;
        position: relative;
        z-index: 1;
    }
}

:checked+.radio-label {
    border-color: #0366d6;
    position: relative;
    z-index: 1;
}
  