<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">
  <targets>
    <target xsi:type="File"
            maxArchiveFiles="10"
            name="detailedAspLogs"
            fileName="c:\temp\detailed-with-request.log.txt"
            archiveAboveSize="10240"
            archiveNumbering="Rolling"
            archiveFileName="c:\temp\detailed-with-request-${date}.log.txt"
            layout="${longdate} ${pad:padding=5:inner=${logger:shortName=true}} ${pad:padding=5:inner=[${level:uppercase=true}}] Message: ${message:exceptionSeparator='\n':withException=false:raw=false} in line ${literal='} ${callsite-linenumber} ${literal='}
            ${exception:format=Message,ShortType,Method:innerFormat=Message,ShortType,Method:maxInnerExceptionLevel=2}${newline}
            ${aspnet-request-method} ${aspnet-request-url:IncludeQueryString=true}
            "/>
    <!--${aspnet-mvc-controller} ${aspnet-mvc-action}${newline}-->

    <target xsi:type="ColoredConsole"
            name="infoConsole"
            layout="${longdate} ${pad:padding=5:inner=${logger:shortName=true}} ${pad:padding=5:inner=[${level:uppercase=true}}] Message: ${message:exceptionSeparator='\n':withException=false:raw=false} in line ${literal='} ${callsite-linenumber} ${literal='}
            ${exception:format=Message,ShortType,Method:innerFormat=Message,ShortType,Method:maxInnerExceptionLevel=2}${newline}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="detailedAspLogs">
      <filters>
        <when condition="equals(logger, 'Microsoft.AspNetCore.Hosting.Internal.WebHost')" action="Log" />
        <when condition="starts-with(logger, 'Microsoft')" action="Ignore" />
      </filters>
    </logger>

    <logger name="*" minlevel="Info" writeTo="infoConsole">
      <filters>
        <when condition="equals(logger, 'Microsoft.AspNetCore.Hosting.Internal.WebHost')" action="Log" />
        <when condition="starts-with(logger, 'Microsoft')" action="Ignore" />
      </filters>
    </logger>
  </rules>
</nlog>