<div class="resource-details">
    <form [formGroup]="discountForm">

        <!-- DESCRIPTION -->
        <div class="form-group">
            <label for="discountDesc">Description</label>
            <input type="text" name="discountDesc" id="discountDesc" class="form-control" formControlName="description" [class.is-invalid]="description.invalid && description.touched">

            <!-- DESCRIPTION VALIDATION ERRORS -->
            <div *ngIf="description.invalid && description.touched">
                <small *ngIf="description.errors?.required" placement="right" ngbPopover="test" class="text-danger">Discount description is required</small>
                <small *ngIf="description.errors?.maxlength" class="text-danger">Discount description must be max 256 characters</small>
            </div>
        </div>

        <!-- TYPE -->
        <div class="form-group" formGroupName="discountTypeGroup">
            <label for="discountType">Type</label>
            <select class="custom-select form-control" name="discountType" id="discountType" formControlName="type" [class.is-invalid]="discountTypeGroup.invalid && discountTypeGroup.touched">
                <option value="ForChild">For child</option>
                <option value="ForPensioner">For pensioner</option>
                <option value="ForStudent">For student</option>
                <option value="ForDisabled">For disabled</option>
                <option value="ForGroup">For group</option>
                <option value="ForFamily">For family</option>
            </select>

            <!-- TYPE VALIDATION ERRORS -->
            <div *ngIf="discountTypeGroup.invalid && discountTypeGroup.touched">
                <small *ngIf="discountTypeGroup.errors?.required" placement="right" ngbPopover="test" class="text-danger">Discount type is required</small>
                <small *ngIf="discountTypeGroup.errors?.invalidType" placement="right" ngbPopover="test" class="text-danger">Only 'For group' type is allowed if group size is greater than 0</small>
            </div>

            <!-- GROUP SIZE -->
            <div class="resource-details mt-3">
                <label for="maxGroupSizeForDiscount">Max group size for discount</label>
                <input type="range" min=0 [max]="info?.maxAllowedGroupSize" name="maxGroupSizeForDiscount" id="maxGroupSizeForDiscount" class="custom-range" formControlName="groupSizeForDiscount" 
                [class.is-invalid]="discountTypeGroup.invalid && discountTypeGroup.touched">
                
                <!-- GROUP SIZE VALIDATION ERRORS -->
                <div *ngIf="discountTypeGroup.invalid && discountTypeGroup.touched">
                    <small *ngIf="discountTypeGroup.errors?.required" placement="right" ngbPopover="test" class="text-danger">Discount group size is required</small>
                    <small *ngIf="discountTypeGroup.errors?.invalidType" placement="right" ngbPopover="test" class="text-danger">Discount group size may be greater than 0 only if type is 'For group'</small>
                </div>

                <p>Group size: {{ groupSizeForDiscount?.value }}</p>
            </div>
        </div>

        <!-- VALUE -->
        <div class="form-group resource-details">
            <label for="discountValue">Value</label>
            <input type="range" min=0 max="100" name="discountValue" id="discountValue" class="custom-range" formControlName="discountValueInPercentage">
            <p>Value: {{ discountValueInPercentage?.value }}%</p>
        </div>

        <button class="btn btn-accent-tight mr-3" [disabled]="!discountForm.valid" (click)="testCRUD()"> OK </button>

    </form>
</div>