div#orderedTickets {
    font-size: medium;
}

.cell-header {
    font-weight: 500;
    margin: 0;  
}

.cell-text {
    color: #212121;
    margin: 0;

    &-lg {
        font-size: xx-large;
        font-weight: 500;
    }
}

.table {
    width: auto;
}