<div class="conatiner-fluid mx-0">
    <div class="row m-0">
        <div class="col-12 col-lg-9 col-xl-7 mx-auto d-lg-flex pt-lg-4">
            <div class="col-lg-5 d-flex pb-3">
                <a [routerLink]="[ '/' ]">
                    <img class="img-fluid grayscale d-none d-lg-flex mx-auto" src="../../assets/images/sdc-logo.png" alt="SDC-logo">
                </a>
            </div>
            <div class="col-12 col-lg-7 d-flex text-center text-lg-left">
                <div class="col-4 d-inline-block footer-links">
                    <p class="text-mono text-gray">Company</p>
                    <p><a class="footer-link" [routerLink]="[ '/visit-sdc' ]">About us</a></p>
                    <p><a class="footer-link" [routerLink]="[ '/partners' ]" >Partners</a></p>
                </div>
                <div class="col-4 d-block">
                    <p class="text-mono text-gray">Support</p>
                    <p><a class="footer-link" [routerLink]="[ '/pricing' ]">Pricing</a></p>
                    <p><a class="footer-link" [routerLink]="[ '/news' ]">Explore</a></p>
                </div>
                <div class="col-4 d-block">
                    <p class="text-mono text-gray">Docs</p>
                    <p><a class="footer-link" href="git hub license">Terms</a></p>
                    <p><a class="footer-link" href="https://documenter.getpostman.com/view/8564183/SVmvTyga?version=latest">SDC Api</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row bg-gray justify-content-center mx-0">
        <div class="col-12 col-lg-7 d-flex align-items-center">
            <p class=" d-none d-lg-flex my-0 py-3 mr-auto text-mono text-gray">&copy; {{ currentYear }} SDC Fakecity. All rights reserved.</p>
            <div class="d-flex mx-auto mx-lg-0 my-1 social-media">
                <a href="https://github.com/Savaed"> <i class="fab fa-github"></i></a>
                <a href="#"> <i class="fab fa-linkedin"></i></a>
            </div>
        </div>
    </div>
</div>
