.footer-link{
    margin: 0px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.75);
}

.fab{
    align-self: center;
    margin-right: 10px;
    font-size: 34px;
    color: rgba(128, 128, 128, 0.5);
}