.footer-link{
    margin: 0px;
    font-size: 14px;
    color: #757575de;
}

.fab{
    align-self: center;
    margin-right: 10px;
    font-size: 34px;
    color: #7575757c;
}

.social-media{
    &>a{
        width: 45px;
        height: 45px;
        text-align: center;
        margin-top: 11px;        

        &>i:before{
            align-self: center !important;
        }
    }
}