<form [formGroup]="ticketOrderForm">

    <!-- VISIT DATE START -->
    <div class="form-group">

        <div class="ml-auto d-flex mb-2">
            <div class="my-auto">
                <small><strong>Your group: </strong></small>
                <small *ngIf="visitDate.value !== '' && (visitHour | async) !== null; else elseBlock">
                    {{ visitDate.value | date: 'dd LLLL yyyy'}}, {{ visitHour | async | date: 'H:mm' }}
                </small>
                <ng-template #elseBlock>
                    <small>Please choose visit date and group</small>
                </ng-template>
            </div>
        </div>

        <!-- VISIT DAY -->
        <div class="row">
            <div class="col-5 mr-2 p-0">
                <label>Visit day</label>
                <div class="mr-auto">
                    <input matInput class="datepicker visit-day" readonly="true" [matDatepicker]="sightseeingDay" placeholder="Choose visit day" [matDatepickerFilter]="filterGroupDates"
                        formControlName="visitDate">
                    <mat-datepicker-toggle matSuffix [for]="sightseeingDay"></mat-datepicker-toggle>
                    <mat-datepicker #sightseeingDay></mat-datepicker>
                </div>
            </div>

            <!-- GROUPS DROPDOWN START -->
            <div class="col-5 ml-2 p-0">
                <label>Visit group</label>
                <div class="dropdown open available-groups mx-auto">
                    <button class="btn btn-lg btn-secondary dropdown-toggle" [disabled]="isGroupButtonDisabled | async" type="button" id="groups" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Choose visit group
                    </button>
                    <div class="dropdown-menu dropdown-menu" aria-labelledby="groups">
                        <div class="dropdown-divider"></div>
                        <div *ngFor="let group of groupInfo | async">
                            <button class="dropdown-item" (click)="setVisitHour(group)">
                                <!-- {{group | json}} -->
                                <h6 class="mt-1">{{ group.sightseeingDate | date:'H:mm' }} </h6>
                                <div class="d-inline-flex align-items-center">
                                    <small class="text-gray">Available seats in the group:</small>
                                    <p class="available-groups-badge"> {{ group.availablePlace }} </p>
                                </div>
                            </button>
                            <div class="dropdown-divider"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- GROUPS DROPDOWN END -->

    </div>
    <!-- VISIT DATE END -->

    <!-- CUSTOMER INFO START -->
    <div class="form-group" [formGroup]="customer">
        <div>
            <label>Birthday</label>
            <i class="far fa-question-circle" placement="right" ngbPopover="Date of birth is optional and, if provided, will only be used to generate statistics for internal company use."></i>
            <div>
                <input matInput class="datepicker" [matDatepickerFilter]="filterBirthdayDates" readonly="true" [matDatepicker]="customerBirthday" placeholder="Choose your birthday date"
                    formControlName="birthdayDate">
                <mat-datepicker-toggle matSuffix [for]="customerBirthday"></mat-datepicker-toggle>
                <mat-datepicker #customerBirthday></mat-datepicker>
            </div>
        </div>

        <!-- EMAIL -->
        <div>
            <label for="customer-email">Email</label>
            <input type="text" [class.is-invalid]="email.invalid && email.touched" name="customer-email" id="customer-email" class="form-control" aria-describedby="email-help" formControlName="email">
        </div>

        <!-- EMAIL VALIDATION ERRORS -->
        <div *ngIf="email.invalid && email.touched">
            <small *ngIf="email.errors?.email" class="text-danger">Email is invalid</small>
            <small *ngIf="email.errors?.required" class="text-danger">Email is required</small>
        </div>
    </div>
    <!-- CUSTOMER INFO END -->


    <!-- DISCOUNTS -->
    <div class="form-group">
        <label>Discounts</label>
        <i class="far fa-question-circle" placement="right" ngbPopover="These inforamtion are only used to match the discount. 
        We will never disclose this information to third parties without your express consent."></i>
        <div class="form-group m-0">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button *ngFor="let discount of ticketOrderService.discounts | async" class="btn btn-discount-outline" type="button" (click)="addDiscount(discount)">
                    {{ discount.type | discountType }}</button>
            </div>
        </div>
        <small id="discount-help" class="text-muted form-control-note">You can choose more than one information, but discounts do not accumulate.</small>
    </div>

    <!-- TICKET AMOUNT -->
    <div class="d-flex form-group">
        <div class="ticket-amount-slider">
            <label for="number-of-tickets">Number of tickets</label>
            <input type="range" min=0 [max]="maxTicketsNumber | async" name="number-of-tickets" id="number-of-tickets" class="custom-range" aria-describedby="no-tickets-help"
                formControlName="numberOfTickets">
        </div>
        <p>Ticket amount: {{ numberOfTickets.value }}</p>
    </div>

    <!-- {{ticketOrderForm.value | json}}
    {{ticketOrderForm.valid}} -->


    <button class="btn btn-accent" [disabled]="!ticketOrderForm.valid" (click)="addTickets()">Add ticket</button>
    <button class="btn btn-accent ml-3" [disabled]="!ticketOrderForm.valid" (click)="orderTickets()">order ticket</button>

</form>