.active-steps {
    border-color: rgb(27, 71, 165);
    z-index: 1;
}

.ufo-pay {
    width: 800px;;
    height: 600px;
    background-image: url(../../../assets/images/ufo-pay-for-area-51.gif);
    background-repeat: no-repeat;
    background-size: contain;
}