<div>

    <!-- ORDER STEPS START -->
    <div class="d-flex my-4">
        <ul class="list-group list-group-horizontal order-steps mx-auto">
            <li class="list-group-item"><small><strong>Step 1: </strong>Choose ticket</small> </li>
            <li class="list-group-item"><small><strong>Step 2: </strong>Fill the form</small></li>
            <li class="list-group-item active-steps"><small><strong>Step 3: </strong>Order and pay</small></li>
        </ul>
    </div>
    <!-- ORDER STEPS END -->

    <div class="col-10 col-lg-5 text-center mx-auto pt-4 pb-1">
        <p class="text-gray text-mono">
            Ticket order payment
        </p>
        <h1 class="header mb-4">
            This payment page is fake
        </h1>
        <p class="text-gray col-11 mx-auto"> 
            The UFO cannot buy any ticket :( You will be redirected to your ordered ticket for: <strong>{{ seconds | async }}</strong> seconds 
        </p>
    </div>

    <div class="col-8 mx-auto ufo-pay"></div>
</div>