<!-- CALENDAR START -->
<div class="calendar d-flex m-3">

    <!-- CALENDAR LEFT START -->
    <div class="calendar-left text-center">
        <p class="num-date m-0 text-center">28</p>
        <p class="day text-center">WEDNESDAY</p>

        <!-- GROUPS DROPDOWN START -->
        <div class="dropdown open available-groups">
            <button class="btn btn-lg btn-secondary dropdown-toggle" type="button" id="groups" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Choose visit group
            </button>
            <div class="dropdown-menu dropdown-menu" aria-labelledby="groups">
                <div class="dropdown-divider"></div>
                <button class="dropdown-item" href="#">
                    <h6> 10:00 </h6>
                    <div class="d-inline-flex align-items-center">
                        <small class="text-gray">Available seats in the group:</small>
                        <p class="available-groups-badge"> 27 </p>
                    </div>
                </button>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item" href="#">
                    <h6> 12:00 </h6>
                    <div class="d-inline-flex align-items-center">
                        <small class="text-gray">Available seats in the group:</small>
                        <p class="available-groups-badge"> 23 </p>
                    </div>
                </button>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item" href="#">
                    <h6> 14:00 </h6>
                    <div class="d-inline-flex align-items-center">
                        <small class="text-gray">Available seats in the group:</small>
                        <p class="available-groups-badge"> 2 </p>
                    </div>
                </button>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item" href="#">
                    <h6> 16:00 </h6>
                    <div class="d-inline-flex align-items-center">
                        <small class="text-gray">Available seats in the group:</small>
                        <p class="available-groups-badge"> 19 </p>
                    </div>
                </button>
                <div class="dropdown-divider"></div>
            </div>
        </div>
        <!-- GROUPS DROPDOWN END -->

    </div>
    <!-- CALENDAR LEFT END -->

    <!-- CALENDAR BASE START -->
    <div class="container-fluid calendar-base">

        <!-- YEAR LABEL START -->
        <div class="row d-inline-flex mx-auto">
            <div class="triangle-left my-auto mx-2"></div>
            <div class="year">2017</div>
            <div class="triangle-right my-auto mx-2"></div>
        </div>
        <!-- YEAR LABEL END -->

        <!-- MONTHS LABEL START -->
        <div class="months d-inline-flex mx-auto">
            <span>Jan</span>
            <span>Feb</span>
            <span>Mar</span>
            <span class="active-month">Apr</span>
            <span>May</span>
            <span>Jun</span>
            <span>July</span>
            <span>Aug</span>
            <span>Sep</span>
            <span>Oct</span>
            <span>Nov</span>
            <span>Dec</span>
        </div>
        <div class="month-line mx-auto bg-gray my-2"></div>
        <!-- MONTHS LABEL END -->

        <!-- DAYS TABLE START -->
        <table class="table table-borderless calendar-body">

            <!-- MONTHS NAMES START -->
            <thead>
                <tr>
                    <th scope="col" class="text-center">MON</th>
                    <th scope="col" class="text-center">TUE</th>
                    <th scope="col" class="text-center">WED</th>
                    <th scope="col" class="text-center">THU</th>
                    <th scope="col" class="text-center">FRI</th>
                    <th scope="col" class="text-center">SAT</th>
                    <th scope="col" class="text-center">SUN</th>
                </tr>
            </thead>
            <!-- MONTHS NAMES END -->

            <!-- DAYS START -->
            <tbody>
                <!-- 1 WEEK -->
                <tr>
                    <td>26</td>
                    <td>27</td>
                    <td class="text-center">
                        <div class="day-bg">
                            <button role="button" class="btn-calendar">28</button>
                        </div>
                    </td>
                    <td>29</td>
                    <td>30</td>
                    <td>31</td>
                    <td>01</td>
                </tr>
                <!-- 2 WEEK -->
                <tr>
                    <td>02</td>
                    <td>03</td>
                    <td>04</td>
                    <td>05</td>
                    <td>06</td>
                    <td>07</td>
                    <td>08</td>
                </tr>
                <!-- 3 WEEK -->
                <tr>
                    <td>09</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                    <td>14</td>
                    <td>15</td>
                </tr>
                <!-- 4 WEEK -->
                <tr>
                    <td>16</td>
                    <td>17</td>
                    <td>18</td>
                    <td>19</td>
                    <td>20</td>
                    <td>21</td>
                    <td>22</td>
                </tr>
                <!-- 5 WEEK -->
                <tr>
                    <td>23</td>
                    <td>24</td>
                    <td>25</td>
                    <td>26</td>
                    <td>27</td>
                    <td>28</td>
                    <td>29</td>
                </tr>
                <!-- 6 WEEK -->
                <tr>
                    <td>30</td>
                    <td>31</td>
                    <td>01</td>
                    <td>02</td>
                    <td>03</td>
                    <td>04</td>
                    <td>05</td>
                </tr>
            </tbody>
            <!-- DAYS END -->

        </table>
        <!-- DAYS TABLE END -->

    </div>
    <!-- CALENDAR BASE END -->

    <!-- CALENDAR END -->
</div>