<div class="conatiner-fluid mx-0">
    <div class="row m-0">
        <div class="col-12 col-lg-7 mx-auto d-lg-flex py-2 py-lg-3">
            <div class="col-lg-5 text-center text-lg-left d-none d-lg-flex">
                <div class="d-flex my-auto">
                    <a class="text-mono text-gray pt-3 mr-4" [routerLink]="[ '/' ]">SDC</a>
                    <p class="d-none d-lg-flex my-0 py-3 mr-auto text-mono text-gray">&copy; {{ currentYear }} SDC Fakecity. All rights reserved.</p>
                </div>
            </div>
            <div class="col-12 col-lg-7 d-flex text-center text-lg-left">
                <div class="col-4 d-inline-block">
                    <p class="m-0"><a class="footer-link" [routerLink]="[ '/news' ]">About us</a></p>
                    <p class="m-0"><a class="footer-link" [routerLink]="[ '/partners' ]">Partners</a></p>

                </div>
                <div class="col-4 d-block">
                    <p class="m-0"><a class="footer-link" [routerLink]="[ '/pricing' ]">Pricing</a></p>
                    <p class="m-0"><a class="footer-link" [routerLink]="[ '/news' ]">Explore</a></p>
                </div>
                <div class="col-4 d-block">
                    <p class="m-0"><a class="footer-link" href="https://github.com/Savaed/SDCWebApp/blob/master/LICENSE">Terms</a></p>
                    <p class="m-0"><a class="footer-link" href="https://documenter.getpostman.com/view/8564183/SVmvTyga?version=latest">SDC Api</a></p>
                </div>
            </div>
        </div>
    </div>
</div>